build
dist
*.swp
*~
*.pyc
flask.pid
**/__pycache__
test/imprimatur.xml
gunicorn/pid
downloads
chellow/mdd/download
.elasticbeanstalk/
.tox/
Chellow.egg-info/
MANIFEST
readme.html
chellow.egg-info/
instance/
.cache/
.pytest_cache/
venv/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
