{%- macro input_date(prefix, initial=None, resolution='minute') -%}
  {% if prefix != None %}
    {% set year_field = prefix + '_year' %}
    {% set month_field = prefix + '_month' %}
    {% set day_field = prefix + '_day' %}
    {% set hour_field = prefix + '_hour' %}
    {% set minute_field = prefix + '_minute' %}
  {% else %}
    {% set year_field = 'year' %}
    {% set month_field = 'month' %}
    {% set day_field = 'day' %}
    {% set hour_field = 'hour' %}
    {% set minute_field = 'minute' %}
  {% endif %}

  {% set initial = initial|now_if_none %}

  <input name="{{ year_field }}" maxlength="4" size="4" value="
    {%- if request.values[year_field] -%}
      {{ request.values[year_field] }}
    {%- else -%}
      {{ initial|hh_format('year') }}
    {%- endif %}">

  {%- if resolution in ['month', 'day', 'hour', 'minute'] -%}
    -<select name="{{ month_field }}">
    {% for month in range(1, 13) -%}
      <option value="{{ "%02i"|format(month) }}"
        {%- if request.values[month_field] -%}
          {%- if request.values[month_field]|int == month %} selected
          {%- endif -%}
        {%- else -%}
          {%- if initial.month == month %} selected{%- endif -%}
        {%- endif -%}>{{ "%02i"|format(month) }}</option>
    {% endfor %}
    </select>
  {%- endif -%}

  {% if resolution in ['day', 'hour', 'minute'] -%}
    -<select name="{{ day_field }}">
      {% for day in range(1, 32) -%}
        <option value="{{ day }}"
          {%- if request.values[day_field] -%}
            {%- if request.values[day_field]|int == day %} selected
            {% endif -%}
          {% else %}
            {%- if initial.day == day %} selected{% endif -%}
          {%- endif %}>{{ "%02i"|format(day) }}</option>
      {% endfor -%}
    </select>
  {%- endif -%}

  {% if resolution in ['hour', 'minute'] %}
    <select name="{{ hour_field }}">
      {% for hour in range(24) %}
        <option value="{{ hour }}"
          {%- if request.values[hour_field] -%}
            {%- if request.values[hour_field]|int == hour %} selected
            {%- endif -%}
          {%- else -%}
            {%- if initial.hour == hour %} selected{%- endif -%}
          {%- endif %}>{{ "%02i"|format(hour) }}</option>
      {%- endfor %}
    </select>
  {%- endif -%}

  {% if resolution == 'minute' -%}
    :<select name="{{ minute_field }}">
      {% for minute in range(0, 31, 30) -%}
        <option value="{{ minute }}"
          {%- if request.values[minute_field] %}
            {%- if request.values[minute_field]|int == minute %} selected
            {%- endif %}
          {%- else %}
            {%- if initial.minute == minute %} selected{% endif %}
            {%- endif %}>{{ "%02i"|format(minute) }}</option>
      {% endfor %}
    </select>
  {%- endif %}
{%- endmacro -%}

{%- macro input_option(name, item_id, desc, initial=None) -%}
    <option value="{{ item_id }}"
        {%- if request.values[name] -%}
            {%- if request.values[name] == '' ~ item_id %} selected
            {%- endif -%}
        {%- else -%}
            {%- if initial == item_id %} selected{% endif -%}
            {%- endif -%}>{{ desc }}</option>
{%- endmacro -%}

{% macro input_text(name, initial=None, size=None, maxlength=None) %}
    <input name="{{name}}" value="
        {%- if request.values[name] -%}
            {{ request.values[name] }}
        {%- elif initial is not none -%}
            {{initial}}
        {%- endif -%}"
        {%- if size %} size="{{ size }}"{% endif %}
        {%- if maxlength %} maxlength="{{ maxlength }}"{% endif %}>
{%- endmacro -%}

{% macro input_textarea(name, initial, rows, cols) -%}
  <textarea name="{{ name }}" rows="{{ rows }}" cols="{{ cols }}">
    {%- if request.values[name] -%}
      {{ request.values[name] }}
    {%- else -%}
      {{ initial }}
    {%- endif -%}
  </textarea>
{%- endmacro -%}

{%- macro input_checkbox(name, initial) %}
	<input type="checkbox" name="{{ name }}" value="true"
		{%- if request.values[name] -%}
				{%- if request.values[name] == 'true' %} checked
				{%- endif -%}
		{%- else -%}
				{%- if initial == True %} checked{% endif -%}
				{%- endif -%}>
{%- endmacro -%}
<!DOCTYPE html>
<html>
<head>
		{% block head %}
		<link rel="stylesheet" type="text/css" 	href="{{context_path}}/style">
        	<link rel="stylesheet" href="{{context_path}}/bootstrap" />
<!--        	<link rel="stylesheet" href="{{context_path}}/font-awesome.min.css" />-->
       	 	<link rel="stylesheet" href="{{context_path}}/wessexcss" />
		
       		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        	<script src="{{context_path}}/bootstrapjs"></script>
        	<script src="{{context_path}}/gridsjs"></script>
        	<script src="{{context_path}}/wessexjs"></script>
		
		<title>Chellow {% block title %}{% endblock %}</title>
		{% block inside_head %}{% endblock %}
		{% endblock %}
  </head>
  <body>
{% block body %}
			

<!-- Layer Page -->
<div class="layer-page">
	
	<!-- Layer Header -->
    <div class="layer-header">
		<div class="container-fluid">
        	<div class="row">
				<!-- Logo -->
            	<div class="col-sm-2 alignCenter bgBlue">
                		<p class="panel-logo"><a href="/" title="Wessex Water"><span class="hide"></span></a></p>
            	</div>
            	
				<!-- Top Header -->
            	<div class="col-sm-10 top-header">
            		<div class="pull-left">
                		<p class="panel-breadcrumbs"><a href="/">Chellow</a> {% block nav %}{% endblock %}</p>
						{% with messages = get_flashed_messages() %}
							{% if messages %}
								<ul>
									{% for message in messages %}
										<li>{{ message }}</li>
									{% endfor %}
								</ul>
							{% endif %}
						{% endwith %}
            		</div>
            	</div>
				
			</div>
		</div>
	</div>
	<!-- End Layer Header -->
	
	
	<!-- Layer Body -->
    <div class="layer-body">
		<div class="container-fluid">
            <div class="row">                                       
				<!-- Layer Content -->
					<div class="col-sm-12 bgLightBlue bodySameHeight">
                        <div class="layer-content">
							<div class="row">
                                <div class="col-md-12">
								{% block content %}{% endblock %}
							    </div>
							</div>
						<div>
				    </div>
	    		<!-- Layer Content -->
			</div>		
		</div>	
	</div>
	<!-- End Layer Body -->
	
</div>
<!-- End Layer Page -->
{% endblock %}
</body>
</html>
