{% extends "base.html" %}

{% block title %}
	&raquo; System &raquo; Chains &raquo; {{chain_str}}
{% endblock %}

{% block nav %}
	<a href="/system">System</a> &raquo;
	<a href="/system/chains">Chains</a> &raquo; {{chain_str}}
{% endblock %}

{% block content %}
	<!-- Layer Section -->
	<div class="layer-section">
		<!-- Section Header -->
		<div class="section-header">
			<h2>Chain</h2>	
		</div>
		<!-- End Section Header -->

		<!-- Section Content -->
		<div class="section-content">
			<div class="section-data">
				<table class="DataTable widthAuto">
					<caption>Chain</caption>
					<thead>
							<tr>
								<th>Id</th>
								<th>Type</th>
								<th>Value</th>
							</tr>
					</thead>
					<tbody>
						{% for obj_id, obj_typ, obj_val in chain %}
							<tr>
								<td>{{obj_id}}</td>
								<td>{{obj_typ}}</td>
								<td>{{obj_val}}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="section-data">
				<table class="DataTable widthAuto">
					<caption>Referrers</caption>
					<thead>
							<tr>
								<th>Add</th>
								<th>Id</th>
								<th>Type</th>
								<th>Value</th>
							</tr>
					</thead>
					<tbody>
						{% for referrer_id, typ, val in referrers %}
							<tr>
								<td>
									<form method="POST" action="/system/chains/{{chain_str}}">
										<input type="hidden" name="obj_id" value="{{referrer_id}}">
										<input type="submit" name="append" value="Append">
									</form>
								<td>{{referrer_id}}</td>
								<td>{{typ}}</td>
								<td>{{val}}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}
