{% extends "base.html" %}

{% block title %}
	&raquo; CoPs
{% endblock %}

{% block nav %}
	&raquo; CoPs
{% endblock %}

{% block content %}
<!-- Layer Section -->
<div class="layer-section">
	<!-- Section Header -->
	<div class="section-header">
		<h2>COPS</h2>	
	</div>
	<!-- End Section Header -->
	<!-- Section Content -->
	<div class="section-content">
		<div class="section-data">
			<table class="DataTable widthAuto">
				<thead>
					<tr>
						<th>Code</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody>
					{% for cop in cops %}
						<tr>
							<td>
								<a href="/cops/{{cop.id}}">{{cop.code}}</a>
							</td>
							<td>{{cop.description}}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<!-- End Section Content -->
</div>
<!-- End Layer Section -->
	
{% endblock %}
