{% extends "base.html" %}

{% block title %}
	DNO Contracts &gt; {{rate_script.contract.name}} &gt;
	{{rate_script.start_date|hh_format}}
{% endblock %}

{% block nav %}
	<a href="{{context_path}}/dno_contracts">DNO Contracts</a> &gt;
	<a href="{{context_path}}/dno_contracts/{{rate_script.contract.id}}">{{rate_script.contract.name}}</a> &gt;
	{{rate_script.start_date|hh_format}}
	[<a href="{{context_path}}/dno_rate_scripts/{{rate_script.id}}/edit">edit</a>]
{% endblock %}

{% block content %}
	<table>
		<tbody>
			<tr>
				<th>Start Date</th>
				<td>{{rate_script.start_date|hh_format}}</td>
			</tr>
			<tr>
				<th>Finish Date</th>
				<td>{{rate_script.finish_date|hh_format}}</td>
			</tr>
		</tbody>
	</table>

	<h2>Script</h2>

	<pre>{{rate_script.script}}</pre>
{% endblock %}
