{% extends "base.html" %}

{% block title %}
	&raquo; DNO Contracts
{% endblock %}

{% block nav %}
	DNO Contracts
{% endblock %}

{% block content %}
	<div class="layer-section">
		<div class="section-header">
			<h2>DNO Contracts</h2>	
		</div>
		<div class="section-content">
			<div class="section-data">
				<table class="DataTable widthAuto noMarginBottom">
					<thead>
						<tr>
							<th>Code</th>
							<th>Name</th>
							<th>Start Date</th>
							<th>Finish Date</th>
						</tr>
					</thead>
					<tbody>
						{% for contract in dno_contracts %}
							<tr>
								<td>
									<a
									 		href="/dno_contracts/{{contract.contract.id}}"
											>{{contract.contract.name}}</a>
								</td>
								<td>{{contract.contract.party.name}}</td>
								<td>{{contract.start_date|hh_format}}</td>
								<td>{{contract.finish_date|hh_format}}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>

	
{% endblock %}
