{% extends "base.html" %}

{% block title %}
	&raquo; DNO Contracts &raquo; {{contract.name}}
{% endblock %}

{% block nav %}
	&raquo; <a href="/dno_contracts">DNO Contracts</a> &raquo; 
	{{ contract.name }}
	[<a href="/dno_contracts/{{contract.id}}">edit</a>]
{% endblock %}

{% block content %}
	<div class="layer-section">
		<div class="section-header">
			<h2>DNO Contract</h2>	
		</div>
		<div class="section-content">
			<div class="section-data">
				<table class="DataTable widthAuto noMarginBottom">
					<tbody>
						<tr>
							<th>Name</th>
							<td>{{contract.name}}</td>
						</tr>
						<tr>
							<th>Start Date</th>
							<td>{{rate_scripts[0][0]|hh_format }}</td>
						</tr>
						<tr>
							<th>Finish Date</th>
							<td>{{rate_scripts[-1][1]|hh_format }}</td>
						</tr>
						<tr>
							<th>Custom Reports</th>
							<td>
								<ul>
									{% for report in custom_reports %}
										<li>
											<a
													href="/local_reports/{{report.id}}/output/?dno_id={{contract.id}}"
													>{{report.name}}</a>
										</li>
									{% endfor %}
								</ul>
							</td>
						</tr>
						<tr>
							<th>Party</th>
							<td>
								<a
								 		href="/parties/{{contract.party.id}}"
										>{{contract.party.name}}</a>
							</td>
						</tr>
						<tr>
							<th>Line Loss Factor Classes</th>
							<td>
								<a href="/llfcs?dno_contract_id={{contract.id}}">LLFCs</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="section-data">
				<table class="DataTable widthAuto noMarginBottom">
					<caption>
						Rate Scripts
					</caption>
					<thead>
						<tr>
							<th></th>
							<th>From</th>
							<th>To</th>
						</tr>
					</thead>
					<tbody>
						{% for start_date, finish_date, script in rate_scripts %}
							<tr>
								<td>
									<a
									 		href="/dno_contracts/{{contract.id}}/rate_scripts/{{start_date.strftime('%Y%m%d%H%M')}}"
											>View</a>
								</td>
								<td>{{start_date|hh_format}}</td>
								<td>{{finish_date|hh_format}}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}
