{% extends "base.html" %}

{% block title %}
	DNs &raquo; {{g_dn.code}} &raquo; LDZs
{% endblock %}

{% block nav %}
	<a href="/g_dns/">LDZs</a> &raquo;
	<a href="/g_dns/{{g_dn.id}}">{{g_dn.code}}</a> &raquo;
	<a href="/g_dns/{{g_dn.id}}/g_ldzs">LDZs</a>
{% endblock %}

{% block content %}
	<table>
		<thead>
			<tr>
				<th>Code</th>
			</tr>
		</thead>
		<tbody>
			{% for g_ldz in g_ldzs %}
				<tr>
					<td><a href="/g_ldzs/{{g_ldz.id}}">{{g_ldz.code}}</a></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<h3>CV Data</h3>	

	<p>
		<a href="/non_core_contracts/4">CV Data</a>
	</p>
{% endblock %}
