{% extends "base.html" %}

{% block title %}
	LDZs
{% endblock %}

{% block nav %}
	LDZs
{% endblock %}

{% block content %}
	<div class="layer-section">
		<div class="section-content">
			<div class="section-data">
				<table>
					<thead>
						<tr>
							<th>Code</th>
						</tr>
					</thead>
					<tbody>
						{% for g_ldz in g_ldzs %}
							<tr>
								<td><a href="/g_ldzs/{{g_ldz.id}}">{{g_ldz.code}}</a></td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}
