{% extends "base.html" %}

{% block title %}
	&raquo; Generator Types
{% endblock %}

{% block nav %}
	&raquo; Generator Types
{% endblock %}

{% block content %}
<!-- Layer Section -->
<div class="layer-section">
	<!-- Section Header -->
	<div class="section-header">
		<h2>Generator Types</h2>	
	</div>
	<!-- End Section Header -->
	<!-- Section Content -->
	<div class="section-content">
		<div class="section-data">
			<table class="DataTable widthAuto">
				<thead>
					<tr>
						<th>Code</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody>
					{% for generator_type in generator_types %}
						<tr>
							<td>
								<a
										href="/generator_types/{{generator_type.id}}"
										>{{generator_type.code}}</a>
							</td>
							<td>{{generator_type.description}}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<!-- End Section Content -->
</div>
<!-- End Layer Section -->

	
{% endblock %}
