{% extends "base.html" %}

{% block title %}
	HHDC Contracts &gt; {{batch.contract.name}} &gt; Batches &gt;
	{{batch.reference}} &gt; Bill Imports
{% endblock %}

{% block nav %}
	<a href="{{context_path}}/hhdc_contracts">HHDC Contracts</a> &gt;
	<a href="{{context_path}}/hhdc_contracts/{{batch.contract.id}}">{{batch.contract.name}}</a> &gt;
	<a href="{{context_path}}/hhdc_batches?hhdc_contract_id={{batch.contract.id}}">Batches</a> &gt;
	<a href="{{context_path}}/hhdc_batches/{{batch.id}}">{{batch.reference}}</a>
 	&gt; Bill Imports
{% endblock %}

{% block content %}
	<form enctype="multipart/form-data" method="post" action="">
		<fieldset>
			<input type="hidden" name="hhdc_batch_id" value="{{batch.id}}">
			<legend>Import Bill File</legend>
			<input type="file" name="import_file" size="45"
				value="{{request.values.import_file}}">
			<input type="submit" value="Import">
			<br>
			<p>Valid file name extensions are {{parser_names}}.</p>
			<table><caption>The '.csv' Format</caption>
				<tbody>
					<tr>
						<td># Bill Type (N - Normal, W - Withdrawn or F -Final)</td>
						<td>Account Reference</td>
						<td>Mpans</td>
						<td>Invoice Reference</td>
						<td>Issue Date (YYYY-mm-dd HH:MM)</td>
						<td>Start Date (YYYY-mm-dd HH:MM)</td>
						<td>Finish Date (YYYY-mm-dd HH:MM)</td>
						<td>kWh</td>
						<td>Net</td>
						<td>VAT</td>
						<td>Gross</td>
						<td>Breakdown</td>
					</tr>
				</tbody>
			</table>
		</fieldset>
	</form>
	{% if importer_ids %}
		<ul>
			{% for id in importer_ids %}
				<li>
					<a href="{{context_path}}/hhdc_bill_imports/{{id}}">{{id}}</a>
				</li>
			{% endfor %}
		</ul>
	{% endif %}
{% endblock %}
