{% extends "base.html" %}

{% block title %}
	&raquo; HHDC Contracts &raquo; {{contract.name}} &raquo; Add Rate Script
{% endblock %}

{% block nav %}
	&raquo; <a href="/hhdc_contracts">HHDC Contracts</a> &raquo; 
	<a href="/hhdc_contracts/{{contract.id}}">{{contract.name}}</a>
	&raquo; Add Rate Script
{% endblock %}

{% block content %}
<!-- Layer Section -->
<div class="layer-section">
	<!-- Section Header -->
	<div class="section-header">
		<h2>Add a rate script</h2>	
	</div>
	<!-- End Section Header -->
	<!-- Section Content -->
	<div class="section-content">
		<div class="section-data">
		    <div class="standardForm textWidthAuto">
                <form method="post">
            		<fieldset>
            			<fieldset>
            				<label>Start Date</label>
            				{{input_date('start', initial_date)}}
            			</fieldset>
            			<input type="submit" value="Add">
            		</fieldset>
            	</form>		    
		    </div>
		</div>
	</div>
	<!-- End Section Content -->
</div>
<!-- End Layer Section -->

	
{% endblock %}
