{% extends "base.html" %}

{% block title %}
	HHDC Contracts &gt; {{batch.contract.name}} &gt; Batches &gt;
	{{batch.reference}} &gt; Bill Imports
{% endblock %}

{% block nav %}
	<a href="{{context_path}}/hhdc_contracts">HHDC Contracts</a> &gt;
	<a href="{{context_path}}/hhdc_contracts/{{batch.contract.id}}">{{batch.contract.name}}</a> &gt;
	<a href="{{context_path}}/hhdc_batches?hhdc_contract_id={{batch.contract.id}}">Batches</a> &gt;
	<a href="{{context_path}}/hhdc_bill_imports?hhdc_batch_id={{batch.id}}">{{batch.reference}}</a> &gt;
	Bill Imports
{% endblock %}

{% block content %}
	<form enctype="multipart/form-data" method="post" action="">
		<fieldset>
			<input type="hidden" name="hhdc_batch_id" value="{{batch.id}}">
			<legend>Import Bill File</legend>
			<input type="file" name="import_file" size="45"
				value="{{request.values.import_file}}">
			<input type="submit" value="Import">
		</fieldset>
	</form>
	{% if importer_ids %}
		<ul>
			{% for id in importer_ids %}
				<li>
					<a href="{{context_path}}/hhdc_bill_imports/{{id}}">{{id}}</a>
				</li>
			{% endfor %}
		</ul>
	{% endif %}
{% endblock %}
