{% extends "base.html" %}

{% block title %}
	HHDC Contracts &gt; {{bill.batch.contract.name}} &gt; Batches &gt;
	{{bill.batch.reference}} &gt; {{bill.reference}}
{% endblock %}

{% block nav %}
	<a href="{{context_path}}/hhdc_contracts">HHDC Contracts</a> &gt;
	<a
			href="{{context_path}}/hhdc_contracts/{{bill.batch.contract.id}}"
			>{{bill.batch.contract.name}}</a> &gt;
	<a
			href=
			"{{context_path}}/hhdc_batches?hhdc_contract_id={{bill.batch.contract.id}}"
			>Batches</a> &gt;
	<a
			href="{{context_path}}/hhdc_batches/{{bill.batch.id}}"
			>{{bill.batch.reference}}</a> &gt; Bill {{bill.id}}
	[<a href="{{context_path}}/hhdc_bills/{{bill.id}}/edit">edit</a>]
{% endblock %}

{% block content %}
	<table><caption>Bill</caption>
		<thead>
			<tr>
				<th>Supply</th>
				<th>Reference</th>
				<th>Account</th>
				<th>Issue Date</th>
				<th>From</th>
				<th>To</th>
				<th>kWh</th>
				<th>Net</th>
				<th>VAT</th>
				<th>Gross</th>
				<th>Type</th>
				<th>Check</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<a href="{{context_path}}/supplies/{{bill.supply.id}}">Supply</a>
				</td>
				<td>{{bill.reference}}</td>
				<td>{{bill.account}}</td>
				<td>{{bill.issue_date.strftime('%Y-%m-%d %H:%M')}}</td>
				<td>{{bill.start_date|hh_format }}</td>
				<td>{{bill.finish_date|hh_format }}</td>
				<td>{{bill.kwh}}</td>
				<td>{{bill.net}}</td>
				<td>{{bill.vat}}</td>
				<td>{{bill.gross}}</td>
				<td>
					<a
							href="{{context_path}}/bill_types/{{bill.bill_type.id}}"
							title="{{bill.bill_type.description}}"
							>{{bill.bill_type.code}}</a>
				</td>
				<td>
					<a href="{{context_path}}/reports/111?bill_id={{bill.id}}">Check</a>
				</td>
			</tr>
		</tbody>
	</table>
	<h3>Breakdown</h3>

	<pre>
		{%- for line in raw_lines -%}
			{{line}}<br>
		{%- endfor -%}
	</pre>
	<br>

	<table>
		<thead>
			<tr>
				<th>element</th>
				{% for col in column_list %}
					<th>{{col}}</th>
				{% endfor %}
			</tr>  
		</thead>
		<tbody>
			{% for row in row_list %}
				<tr>
					<td>{{row}}</td>
					{% for col in column_list %}
						<td>{{grid[row][col]}}</td>
					{% endfor %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
