{% extends "base.html" %}

{% block title %}
	&raquo;List of Local Reports &raquo; {{report.name}} &raquo; Test
{% endblock %}

{% block nav %}
	<a href="/local_reports">List of Local Reports</a> &raquo;
	<a href="/local_reports/{{report.id}}">{{report.name}}</a> &raquo; Test
{% endblock %}

{% block content %}
		<table>
			<tr>
				<th>Is Alive?</th>
				<td>{{tester.is_alive()}}</td>
			</tr>
		</table>
		<form action="/local_reports/{{report.id}}/test" method="post">
			<fieldset {% if tester.is_alive() %}disabled{% endif %}>
				<legend>Test Now</legend>
				<input type="submit" value="Test" name="test">
			</fieldset>
		</form>

		<h4>Log</h4>
		<ul>
			{% for message in tester.messages %}
				<li>{{message}}</li>
			{% endfor %}
		</ul>

{% endblock %}
