{% extends "base.html" %}

{% block title %}
	&raquo; Meter Types &raquo; {{meter_type.description}}
{% endblock %}

{% block nav %}
	&raquo; <a href="/meter_types">Meter Types</a> &raquo; 
	{{meter_type.description}}
{% endblock %}

{% block content %}

<!-- Layer Section -->
<div class="layer-section">
	<!-- Section Header -->
	<div class="section-header">
		<h2>{{meter_type.description}}</h2>	
	</div>
	<!-- End Section Header -->
	<!-- Section Content -->
	<div class="section-content">
		<div class="section-data">
			<table class="DataTable widthAuto">
				<tr>
					<th>Code</th>
					<td>{{meter_type.code}}</td>
				</tr>
				<tr>
					<th>Description</th>
					<td>{{meter_type.description}}</td>
				</tr>
				<tr>
					<th>Valid From</th>
					<td>{{meter_type.valid_from|hh_format}}</td>
				</tr>
				<tr>
					<th>Valid To</th>
					<td>{{meter_type.valid_to|hh_format}}</td>
				</tr>
			</table>
		</div>
	</div>
	<!-- End Section Content -->
</div>
<!-- End Layer Section -->
	
{% endblock %}
