{% extends "base.html" %}

{% block title %}
	&raquo; Meter Payment Types
{% endblock %}

{% block nav %}
	&raquo; Meter Payment Types
{% endblock %}

{% block content %}

<!-- Layer Section -->
<div class="layer-section">
	<!-- Section Header -->
	<div class="section-header">
		<h2>Meter Payment Types</h2>	
	</div>
	<!-- End Section Header -->
	<!-- Section Content -->
	<div class="section-content">
		<div class="section-data">
			<table class="DataTable widthAuto">
				<thead>
					<tr>
						<th>Code</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody>
					{% for meter_payment_type in meter_payment_types %}
						<tr>
							<td>
								<a href="/meter_payment_types/{{meter_payment_type.id}}">{{meter_payment_type.code}}</a>
							</td>
							<td>{{ meter_payment_type.description }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<!-- End Section Content -->
</div>
<!-- End Layer Section -->

	
{% endblock %}
