{% extends "base.html" %}

{% block title %}
	&raquo; Meter Types
{% endblock %}

{% block nav %}
	&raquo; Meter Types
{% endblock %}

{% block content %}
<!-- Layer Section -->
<div class="layer-section">
	<!-- Section Header -->
	<div class="section-header">
		<h2>Meter Types</h2>	
	</div>
	<!-- End Section Header -->
	<!-- Section Content -->
	<div class="section-content">
		<div class="section-data">
			<table class="DataTable widthAuto">
				<thead>
					<tr>
						<th>Code</th>
						<th>Description</th>
						<th>Valid From</th>
						<th>Valid To</th>
					</tr>
				</thead>
				<tbody>
					{% for meter_type in meter_types %}
						<tr>
							<td>
								<a href="/meter_types/{{meter_type.id}}" >{{meter_type.code}}</a>
							</td>
							<td>{{meter_type.description}}</td>
							<td>{{meter_type.valid_from|hh_format}}</td>
							<td>{{meter_type.valid_to|hh_format}}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<!-- End Section Content -->
</div>
<!-- End Layer Section -->
	
{% endblock %}
