{% extends "base.html" %}

{% block title %}
	MOP Contracts &gt; Add
{% endblock %}

{% block nav %}
	<a href="{{context_path}}/mop_contracts">MOP Contracts</a> &gt; Add
{% endblock %}

{% block content %}
	<form action="" method="post">
		<fieldset>
			<legend>Add a MOP contract</legend>
			<br />
			<label>
				Participant
				<select name="participant_id">
					{% for party in parties %}
						{{ input_option('participant_id', party.participant.id,
								party.participant.code + " : " + party.name) }}
					{% endfor %}
				</select>
			</label>
			<br />
			<br />
			<label>
				Name
				<input name="name" value="
					{%- if request.getParameter('name') -%}
						{{ request.getParameter('name') }}
					{%- endif -%}
				">
			</label>
			<br />
			<br />
			<fieldset>
				<legend>Start Date</legend>
				{{ input_date('start', initial_date) }}
			</fieldset>
			<br />
			<br />
			<input type="submit" value="Add">
			<input type="reset" value="Reset">
		</fieldset>
	</form>
{% endblock %}
