{% extends "base.html" %}

{% block title %}
	&raquo; MOP Contracts &raquo; {{contract.name}} &raquo; Batches &raquo; Add
{% endblock %}

{% block inside_head %}
	<style>
		label {
			width: 6em;
			float: left;
		}
	</style>
{% endblock %}

{% block nav %}
	&raquo; <a href="/mop_contracts">MOP Contracts</a> &raquo; 
	<a href="/mop_contracts/{{contract.id}}">{{contract.name}}</a> &raquo; 
	<a href="/mop_batches?mop_contract_id={{contract.id}}">Batches</a>
	&raquo; Add
{% endblock %}

{% block content %}
<div class="layer-section">
	<div class="section-header">
		<h2>Add a batch</h2>
	</div>
	<div class="section-content">
		<div class="section-data">
			<div class="standardForm textBoxWidthAuto">
				<form method="post">
					<fieldset>
						<input type="hidden" name="mop_contract_id" value="{{contract.id}}">
						<div class="row">
							<div class="col-sm-4">
								<label>Reference</label> {{input_text('reference', '')}}
							</div>
						</div>		
						<div class="row">
						    <div class="col-sm-4">
								<label>Description</label> {{input_text('description', '')}}
							</div>
						</div>				
						<input type="submit" value="Add">
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="layer-section">
	<div class="section-header">
		<h2>Existing Batches</h2>
	</div>
	<div class="section-content">
		<div class="section-data">
			<div class="noWrap">
				<table class="DataTable widthAuto noMarginBottom">					
					<thead>
						<tr>
							<th>Reference</th>
							<th>Description</th>
						</tr>
					</thead>
					<tbody>
						{% for batch in batches %}
							<tr>
								<td>{{batch.reference}}</td>
								<td>{{batch.description}}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
	

	
{% endblock %}
