{% extends "base.html" %}

{% block nav %}
	MOP Contracts &gt; {{rate_script.contract.name}} &gt;
 	Rate Script {{rate_script.start_date|hh_format}}
{% endblock %}

{% block nav %}
	<a href="{{context_path}}/mop_contracts">MOP Contracts</a> &gt;
	<a href="{{context_path}}/mop_contracts/{{rate_script.contract.id}}">{{rate_script.contract.name}}</a> &gt;
	{{rate_script.start_date|hh_format}}
	[<a href="{{context_path}}/mop_rate_scripts/{{rate_script.id}}">edit</a>]
{% endblock %}

{% block content %}
	<table>
		<tr>
			<th>Start Date</th>
			<td>{{rate_script.start_date|hh_format}}</td>
		</tr>
		<tr>
			<th>Finish Date</th>
			<td>{{rate_script.finish_date|hh_format}}</td>
		</tr>
	</table>

	<h2>Script</h2>

	<pre>
		{{rate_script.script}}
	</pre>
{% endblock %}
