{% extends "base.html" %}

{% block title %}
	&raquo; Non-core Contracts &raquo; {{contract.name}}
{% endblock %}

{% block nav %}
	&raquo; <a href="/non_core_contracts">Non-core Contracts</a> &raquo; 
	<a href="/non_core_contracts/{{contract.id}}">{{contract.name}}</a>
	&raquo; Edit
{% endblock %}

{% block content %}
	{% if request.method == 'GET' and request.values.view == 'confirm_delete' %}
	
	<div class="layer-section">
		<div class="section-header">
			<h2>Are you sure you want to delete this contract?</h2>	
		</div>
		<div class="section-content">
			<div class="section-data">
				<div class="standardForm">
					<form method="post">
						<fieldset>
							<input type="hidden" name="non_core_contract_id"
								value="{{contract.id}}"
							>
							<input type="submit" name="delete" value="Delete">
							<input type="reset" value="Cancel" onClick="window.location='/non_core_contracts/{{contract.id}}/edit'" />
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>
	
		
	{% else %}
	
	<div class="layer-section">
		<div class="section-header">
			<h2>Update Contract</h2>	
		</div>
		<div class="section-content">
			<div class="standardForm">
				<form method="post">
					<fieldset>
						<div class="section-data">
							<div class="row">
								<div class="col-sm-6">
									<label>Name</label>						
								    <input name="name" value={{contract.name}}>
							    </div>
							</div>
						</div>
						<div class="section-data">
							<label>Properties</label>
							</br>
							{{ input_textarea('properties', contract.properties, 20, 80) }}
							
							{% if contract.name == 'bsuos' %}
								<pre>{
    'enabled': True,
    'url': 'http://www2.nationalgrid.com/Current-SF-BSUoS-Data/'}</pre>
    {% elif contract.name == 'tlms' %}
								<pre>{
'enabled': True,
'url': 'https://downloads.elexonportal.co.uk/'}</pre>
							{% endif %}
							<br>
							<input type="submit" value="Update">
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
	<div class="layer-section">
		<div class="section-header">
			<h2>Update State</h2>	
		</div>
		<div class="section-content">
			<div class="section-data">
				<div class="standardForm">
					<form method="post">
						<fieldset>
							<label>State</label>
							</br>
							{{ input_textarea('state', contract.state, 40, 80) }}
							<br>
							<input type="submit" name="update_state" value="Update">
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>
	
	<div class="layer-section">
		<div class="section-header">
			<h2>Delete this contract</h2>	
		</div>
		<div class="section-content">
			<div class="section-data">
				<div class="standardForm">
					<form>
						<fieldset>
							<input type="hidden" name="view" value="confirm_delete">
							<input type="submit" value="Delete">
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>

	{% endif %}
{% endblock %}
