{% extends "base.html" %}

{% block title %}
	&raquo; System &raquo; Objects &raquo; {{obj_id}}
{% endblock %}

{% block nav %}
	&raquo; <a href="/system">System</a> &raquo;
	<a href="/system/objects">Objects</a> &raquo; {{obj_id}}
{% endblock %}

{% block content %}
<!-- Layer Section -->
<div class="layer-section">
	<!-- Section Header -->
	<div class="section-header">
		<h2>Object</h2>	
	</div>
	<!-- End Section Header -->

	<!-- Section Content -->
	<div class="section-content">
		<div class="section-data">
			<table class="DataTable widthAuto">
				<caption>Object Properties</caption>
				<tbody>
					{% for k, v in obj_props.items() %}
						<tr>
							<th>{{k}}</th>
							<td>{{v}}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="section-data">
			<table class="DataTable widthAuto">
				<caption>Referrers</caption>
				<thead>
						<tr>
							<th>View</th>
							<th>Id</th>
							<th>Type</th>
							<th>Value</th>
						</tr>
				</thead>
				<tbody>
					{% for referrer_id, referrer, typ, val in referrers %}
						<tr>
							<td><a href="/system/objects/{{referrer_id}}">View</a></td>
							<td>{{referrer_id}}</td>
							<td>{{typ}}</td>
							<td>{{val}}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
