{% extends "base.html" %}

{% block title %}
	&raquo; System &raquo; Objects &raquo; {{root_id}}
{% endblock %}

{% block nav %}
	&raquo; <a href="/system">System</a> &raquo;
	<a href="/system/objects">Objects</a> &raquo; {{root_id}}
{% endblock %}

{% block content %}
<!-- Layer Section -->
<div class="layer-section">
	<!-- Section Header -->
	<div class="section-header">
		<h2>Object</h2>	
	</div>
	<!-- End Section Header -->

	<!-- Section Content -->
	<div class="section-content">
		<div class="section-data">
			<table class="DataTable widthAuto">
				<caption>Path</caption>
				<thead>
						<tr>
							<th>New Root</th>
							<th>Id</th>
							<th>Type</th>
							<th>Value</th>
						</tr>
				</thead>
				<tbody>
					{% for oid, typ, val in path %}
						<tr>
							<td><a href="/system/objects/{{oid}}">New Root</a></td>
							<td>{{oid}}</td>
							<td>{{typ}}</td>
							<td>{{val}}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="section-data">
			<table class="DataTable widthAuto">
				<caption>Referrers</caption>
				<thead>
						<tr>
							<th>Add To Path</th>
							<th>Id</th>
							<th>Type</th>
							<th>Value</th>
						</tr>
				</thead>
				<tbody>
					{% for referrer_id, typ, val in referrers %}
						<tr>
							<td>
								<a
								 	href="/system/objects/{{root_id}}?path={{path_str}}&amp;next={{referrer_id}}"
								>Add</a>
							</td>
							<td>{{referrer_id}}</td>
							<td>{{typ}}</td>
							<td>{{val}}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
