{% extends "base.html" %}

{% block title %}
	&raquo; Scenario Runner
{% endblock %}

{% block nav %}
	&raquo; Scenario Runner
{% endblock %}

{% block content %}
	<!-- Layer Section -->
	<div class="layer-section">
		<!-- Section Header -->
		<div class="section-header">
			<h2>Scenarios</h2>	
		</div>
		<!-- End Section Header -->
		<!-- Section Content -->
		<div class="section-content">
			<div class="section-data">
					<table class="DataTable widthAuto">
							<thead>
								<tr>
									<th>Scenario</th>
									<th>Run</th>
									<th>View</th>
									<th>Edit</th>
									<th>scenario_start</th>
									<th>scenario_duration</th>
								</tr>
							</thead>
							<tbody>
								{% for scenario in scenarios %}
									{% set props = scenario.make_properties() %}
									<tr>
										<td>{{scenario.name}}</td>
										<td>
											<a href="/reports/247?scenario_id={{scenario.id}}">
												Run
											</a>
										<td>
											<a href="/supplier_contracts/{{scenario.id}}#properties">
												View
											</a>
										</td>
										<td>
											[<a href="/supplier_contracts/{{scenario.id}}/edit#properties">edit</a>]
										</td>
										<td>{{props.scenario_start}}</td>
										<td>{{props.scenario_duration}}</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
			</div>
		</div>
		<!-- End Section Content -->
	</div>
	<!-- End Layer Section -->

	<!-- Layer Section -->
	<div class="layer-section">
		<!-- Section Header -->
		<div class="section-header">
			<h2>Rates</h2>	
		</div>
		<!-- End Section Header -->
		<!-- Section Content -->
		<div class="section-content">
			<div class="section-data">
				<table class="DataTable widthAuto">
					<caption>Pass-through Contract Rates</caption>
					<thead>
						<tr>
							<th rowspan="2">Contract</th>
							<th colspan="2">Last Rate Script</th>
						</tr>
						<tr>
							<th>Start Date</th>
							<th>Finish Date</th>
						</tr>
					</thead>
					<tbody>
						{% for contract in db_contracts %}
							<tr>
								<td>
									<a href="/non_core_contracts/{{contract.id}}">
										{{contract.name}}
									</a>
								</td>
								<td>{{contract.finish_rate_script.start_date|hh_format}}</td>
								<td>{{contract.finish_rate_script.finish_date|hh_format}}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="section-data">
				<h3>Template Scenario Properties</h3>

				<pre>
{
  "scenario_start": 2011-01-01T00:00:00Z,  /* Date or null for this month */
  "scenario_duration": 1,  /* Number of months */


  /* Industry rates - those you can't edit in Chellow */

  "industry_rates": [
    {
      "contract_name": "ccl",
      "start_date": 2014-10-01T00:00:00Z,
      "finish_date": 2015-05-01T00:00:00Z,
      "script": {
        "ccl_gbp_per_msp_kwh": 0.00568
      }
    },

    {
      "contract_name": "aahedc",
      "start_date": 2015-01-01T00:00:00Z,
      "finish_date": 2016-09-04T00:00:00Z,
      "script": {
        "aahedc_gbp_per_gsp_kwh": 0.00023116
      }
    }
  ],


  /* Local rates - those that you can edit in Chellow */

  "local_rates": [
    {
      "contract_id": 46,
      "start_date": 2014-10-01T00:00:00Z,
      "finish_date": 2015-05-01T00:00:00Z,
      "script": {
        "gbp_per_msp_kwh": 0.667
      }
    },

    {
      "contract_id": 3,
      "start_date": 2015-01-01T00:00:00Z,
      "finish_date": 2015-03-01T00:00:00Z,
      "script": {
        "gbp_per_gsp_kwh": 5.77
      }
    }
  ],


  "era_maps": {
    2012-09-01T00:00:00Z: {
      "llfcs": {
        "20": {
          "409": "607",
          "090": "502"
        },
        "22": {
          "711": "003",
          "new_export": "003"
        }
      },
      "pcs": {
        "03": "00",
        "04": "00"
      },
      "cops": {
        "6c": "5"
      },
      "supplier_contracts": {
        74: 3,
        "new_export": 3,
        9: 51
      },
      "sc": 400
    }
  },


  /* HH data to use instead of the data in the database. For each site code,
     you can specify the hh data that's used, generated, parasitic or gen_net
     on the site. */

  "hh_data": {

    /* For site code 12098 */

    "12098": {
      "used": "
        2017-10-04 19:00, 78.0
        2017-10-04 19:30, 74.8
        2017-10-04 20:00, 65.3",
      "generated": "
        2017-10-04 19:00, 8.0
        2017-10-04 19:30, 8.7
        2017-10-04 20:00, 8.5",
      "parasitic": "
        2017-10-04 19:00, 2.0
        2017-10-04 19:30, 2.1
        2017-10-04 20:00, 2.0"
    },

    /* For site code 59987 */

    "59987": {
      "generated": "
        2017-10-09 10:00, 3.0
        2017-10-09 10:30, 2.7
        2017-10-09 11:00, 3.5"
    }
  }
}</pre>

				<h4>HH Data</h4>

				<h5>Default forecasting</h5>

				<p>
					Before the <code>forecast_date</code> Chellow uses data in the
					database (if any), and after that date it uses data from the same
					month but in the year before the <code>forecast_date</code>.
				</p>

				<p>
					If a rate script isn't found for a particular date, then the most
					recent rate script is used.
				</p>

				<p>
					Virtual bills can include TRIAD estimates and actuals in a variety
					of ways. For example, a virtual bill may use TRIAD estimates for all
					months until triad dates are available for that financial year, in
					which case it switches to using the actual TRIAD for March.
				</p>

				<p>
					TRIAD estimates are calculated using the actual TRIAD from the latest
				 	historical year for which we have TRIAD dates. Historical kW and
				 	status are used, together with current LAFs and TRIAD rates, with the
				 	result apportioned throughout each month.
				</p>


				<h5>Applying HH data in the scenario runner</h5>

				<p>
					Taking 'generated' as an example, for each half-hour Chellow will
				 	calculate the difference between the <code>scenario_generated</code>
				 	and the <code>existing_generated</code>. If
				 	<code>scenario_generated</code> &gt;= <code>existing_generated</code>
					then any <code>imported_net</code> will be reduced first, then
					<code>exported_net</code> will be increased until all the difference
				 	is exhausted. Otherwise if <code>scenario_generated</code> &lt;
					<code>existing_generated</code> then <code>exported_net</code> will
					be reduced first, and then <code>imported_net</code> will be
				 	increased. A similar approach is taken with used, parasitic and
				  gen_net kWh.
				</p>

				<p>
					The method is the same for months after the
					<code>forecast_date</code> but with the
				 	<code>existing_generated</code> being found from the default
				 	forecast.
				</p>
			</div>
		</div>
		<!-- End Section Content -->
	</div>
	<!-- End Layer Section -->
{% endblock %}
