{% extends "base.html" %}

{% block title %}
	&raquo; Scenario Runner
{% endblock %}

{% block nav %}
	&raquo; Scenario Runner
{% endblock %}

{% block content %}
	<!-- Layer Section -->
	<div class="layer-section">
		<!-- Section Header -->
		<div class="section-header">
			<h2>Scenarios</h2>	
		</div>
		<!-- End Section Header -->
		<!-- Section Content -->
		<div class="section-content">
			<div class="section-data">
					<table class="DataTable widthAuto">
							<thead>
								<tr>
									<th>Scenario</th>
									<th>Run</th>
									<th>View</th>
									<th>Edit</th>
									<th>scenario_start</th>
									<th>scenario_duration</th>
								</tr>
							</thead>
							<tbody>
								{% for scenario in scenarios %}
									{% set props = scenario.make_properties() %}
									<tr>
										<td>{{scenario.name}}</td>
										<td>
											<a href="/reports/247?scenario_id={{scenario.id}}">
												Run
											</a>
										<td>
											<a href="/supplier_contracts/{{scenario.id}}#properties">
												View
											</a>
										</td>
										<td>
											[<a href="/supplier_contracts/{{scenario.id}}/edit#properties">edit</a>]
										</td>
										<td>{{props.scenario_start}}</td>
										<td>{{props.scenario_duration}}</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
			</div>
		</div>
		<!-- End Section Content -->
	</div>
	<!-- End Layer Section -->

	<!-- Layer Section -->
	<div class="layer-section">
		<!-- Section Header -->
		<div class="section-header">
			<h2>Rates</h2>	
		</div>
		<!-- End Section Header -->
		<!-- Section Content -->
		<div class="section-content">
			<div class="section-data">
				<table class="DataTable widthAuto">
					<caption>Pass-through Contract Rates</caption>
					<thead>
						<tr>
							<th rowspan="2">Contract</th>
							<th colspan="2">Last Rate Script</th>
						</tr>
						<tr>
							<th>Start Date</th>
							<th>Finish Date</th>
						</tr>
					</thead>
					<tbody>
						{% for contract in db_contracts %}
							<tr>
								<td>
									<a href="/non_core_contracts/{{contract.id}}">
										{{contract.name}}
									</a>
								</td>
								<td>{{contract.finish_rate_script.start_date|hh_format}}</td>
								<td>{{contract.finish_rate_script.finish_date|hh_format}}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="section-data">
					<p>
							Consider a half-hour H, and a contract with rate scripts. The rate at H
						 is determined by:
						</p>
						<dl>
							<dt>start_date</dt>
							<dd>A date</dd>
							<dt>multiplier</dt>
							<dd>A number</dd>
							<dt>constant</dt>
							<dd>A number</dd>
						</dl>

						<p>
							If H &lt;= start_date, then the rate script at H is used without any
							change. If H &gt; start_date, then the rate script at start_date is used
							to obtain the value of the rate at H by doing (rate_at_start_date *
							multiplier + constant).
						</p>
			</div>
			<div class="section-data">
					<legend>Template Scenario Properties</legend>

		<pre>
	{
		"rates":
			"bsuos" : {
				"start_date": 2011-01-01T00:00:00Z,
				"multiplier": 1,
				"constant": 0},

			"ccl": {
				"start_date": 2014-10-01T00:00:00Z,
				"multiplier": 1,
				"constant": 0},

			"aahedc": {
				"start_date": 2012-04-01T00:00:00Z,
				"multiplier": 0,
				"constant": 0.00091361}},

		"era_maps": {
			2012-09-01T00:00:00Z: {
				"llfcs": {
					"20": {
						"409": "607",
						"090": "502"}
					"22": {
						"711": "003"}}}}
				

		"scenario_start": 2011-01-01T00:00:00Z,  // Date or null for this month
		"scenario_duration": 1,  // Number of months
		"resolution": "hh",  // "hh" or "month"
																	
		"kw_changes":
		// CSV format with the following columns
		// Site Code, Type ("used" or "generated") , Date (yyyy-mm-dd), Multiplier
		"
		CI005, used, 2011-01-01, 0.5
		CI005, generated, 2011-01-01, 2
		"}</pre>
			</div>
		</div>
		<!-- End Section Content -->
	</div>
	<!-- End Layer Section -->
{% endblock %}
