{% extends "base.html" %}

{% block title %}
	&raquo; Read Types &raquo; {{read_type.code}}
{% endblock %}

{% block nav %}
	&raquo; <a href="/read_types">Read Types</a> &raquo; {{read_type.code}}
{% endblock %}

{% block content %}

<!-- Layer Section -->
<div class="layer-section">
	<!-- Section Header -->
	<div class="section-header">
		<h2>{{read_type.code}}</h2>	
	</div>
	<!-- End Section Header -->
	<!-- Section Content -->
	<div class="section-content">
		<div class="section-data">
			<table class="DataTable widthAuto">
				<tr>
					<th>Code</th>
					<td>{{read_type.code}}</td>
				</tr>
				<tr>
					<th>Description</th>
					<td>{{read_type.description}}</td>
				</tr>
			</table>
		</div>
	</div>
	<!-- End Section Content -->
</div>
<!-- End Layer Section -->
	
{% endblock %}
