<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css"
      href="/chellow/reports/19/output/">
		<title>Chellow &gt; Reports &gt; {{report.name}}</title>
	</head>
	<body>
		<p>
			<a href="/chellow/reports/1/output/">Chellow</a> &gt;
			<a href="/chellow/reports/">Reports</a> &gt; {{report.name}}
		</p>

		<p>{{ message }}</p>
		
		{% if request.args['confirm_delete'] %}
			<form method="post" action=".">
				<fieldset>
					<legend>
						Are you sure you want to delete this
						report?
					</legend>
					<input type="submit" name="delete" value="Delete">
				</fieldset>
			</form>
			<p>
				<a href=".">Cancel</a>
			</p>
		{% else %}
			<ul>
				<li>
					<a href="output/">Output</a>
				</li>
			</ul>
			<p>
				Is Core? {{report.is_core()}}
			</p>
			<form method="post" action=".">
				<fieldset>
					<legend>Update Report</legend>
					<label>
						Name
						<input name="name" size="100"
							{% if request.args['name'] %}
								value="{{request.args['name']}}"
							{% else %}
								value="{{report.name}}"
							{% endif %}
						>
					</label>
					<br />
					<br />
					<label>Script</label>
					<br />
					<textarea name="script" cols="80" rows="50">
						{%- if request.values['script'] -%}
							{{request.values['script']}}
						{%- else -%}
							{{report.script}}
						{%- endif -%}
					</textarea>
					<br>
					<br>
					<label>Template</label>
					<br>
					<textarea name="template" cols="80" rows="50">
						{%- if request.values['template'] -%}
							{{request.values['template']}}
						{%- else -%}
							{{report.template}}
						{%- endif -%}
					</textarea>
					<br>
					<input type="submit" value="Save">
				</fieldset>
			</form>
			<br>
			<br>
			<form action=".">
				<fieldset>
					<legend>Delete this report</legend>
					<input type="hidden" name="view" value="confirm_delete">
					<input type="submit" value="Delete">
				</fieldset>
			</form>
		{% endif %}
	</body>
</html>
