{% extends "base.html" %}

{% block title %}
	&raquo; Report Runs
{% endblock %}

{% block nav %}
	Report Runs
{% endblock %}

{% block content %}
	<table class="sticky">
		<thead>
			<tr>
				<th>View</th>
				<th>Date Created</th>
				<th>Created By</th>
				<th>Name</th>
				<th>Title</th>
				<th>State</th>
			</tr>
		</thead>
		<tbody>
			{% for run in runs %}
				<tr>
					<td>
						<a href="/report_runs/{{run.id}}">View</a>
					</td>
					<td>{{run.date_created|hh_format}}</td>
					<td>{{run.creator}}</td>
					<td>{{run.name}}</td>
					<td>{{run.title}}</td>
					<td>{{run.state}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<h2>Report Run Deleter</h2>

	{% if importer %}

		<table>
			<tr>
				<th>Is Going?</th>
				<td>{{importer.going.is_set()}}</td>
			</tr>
			{% if importer.going.is_set() %}
				<tr>
					<th>Progress</th>
					<td>{{importer.progress}}</td>
				</tr>
			{% endif %}
		</table>


		<h4 id="log">Log</h4>

		<ul>
			{% for message in importer.messages %}
				<li>{{message}}</li>
			{% endfor %}
		</ul>


	{% else %}
		<p>Deleter not present.</p>
	{% endif %}
{% endblock %}
