{% extends "base.html" %}

{% block inside_head %}
	<style>
		section.elements {
			display: flex;
			flex-wrap: wrap;
			gap: 4em;
			align-items: flex-start;
		}
	</style>
{% endblock %}

{% block title %}
	&raquo; Report Runs &raquo; {{row.report_run.id}} &raquo; Row {{row.id}}
{% endblock %}

{% block nav %}
	<a href="/report_runs">Report Runs</a> &raquo;
	<a href="/report_runs/{{row.report_run.id}}">{{row.report_run.id}}</a>
	&raquo; Row {{row.id}}
{% endblock %}


{% block content %}
	{% set values = row.data['values'] %}
	{% set properties = row.data.get('properties', {}) %}
	<table>
		<caption>Bill Check</caption>	
		<thead>
			<tr>
				<th>Batch</th>
				<th>Site</th>
				<th>MPRN</th>
				<th>Covered Bills</th>
				<th>Covered Start</th>
				<th>Covered Finish</th>
				<th>Problem</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><a href="/g/batches/{{values.g_batch_id}}">{{values.batch}}</a></td>
				<td>
					<a href="/sites/{{values.site_id}}">{{values.site_code}} {{values.site_name}}</a>
				</td>
				<td>
					<a href="/g/supplies/{{values.g_supply_id}}">{{values.mprn}}</a>
				</td>
				<td>	
					{% if values['covered_bill_ids'] is not none %}
						{% for bill_id in values['covered_bill_ids'] %}
								<a href="/g/bills/{{bill_id}}">{{bill_id}}</a>
								{% if bill_id == values.g_bill_id %}
								{% endif %}
						{% endfor %}
					{% endif %}
				</td>
				<td><span title="{{values.covered_start}}">{{values.covered_start[:10]}}</span></td>
				<td><span title="{{values.covered_finish}}">{{values.covered_finish[:10]}}</span></td>
				{% for title in columns %}
					<td>	
						{% if title in values and values[title] is not none %}
							{{"%.2f"|format(values[title])}}
						{% endif %}
					</td>
				{% endfor %}
				<td>
					{{ values.covered_problem }} {{ values.virtual_problem }}
				</td>
			</tr>
		</tbody>
	</table>

	<section class="elements">
		<table>
			<caption>GBP</caption>
			<thead>
				<tr>
					<th>Part</th>
					<th>Covered</th>
					<th>Virtual</th>
					<th>Difference</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>gross</td>
					<td>{{values.covered_gross_gbp}}</td>
					<td>{{values.virtual_gross_gbp}}</td>
					<td>{{values.difference_gross_gbp}}</td>
				</tr>
				<tr>
					<td>net</td>
					<td>{{values.covered_net_gbp}}</td>
					<td>{{values.virtual_net_gbp}}</td>
					<td>{{values.difference_net_gbp}}</td>
				</tr>
				<tr>
					<td>vat</td>
					<td>{{values.covered_vat_gbp}}</td>
					<td>{{values.virtual_vat_gbp}}</td>
					<td>{{values.difference_vat_gbp}}</td>
				</tr>
				<tr>
					<td>vat_rate</td>
					<td>{{values.covered_vat_rate}}</td>
					<td>{{values.virtual_vat_rate}}</td>
					<td>{{values.difference_vat_rate}}</td>
				</tr>
				<tr>
					<td>is_commercial</td>
					<td>{{values.covered_is_commercial}}</td>
					<td>{{values.virtual_is_commercial}}</td>
					<td>{{values.difference_is_commercial}}</td>
				</tr>
		</table>

		<table>
			<caption>kWh</caption>
			<thead>
				<tr>
					<th>Part</th>
					<th>Covered</th>
					<th>Virtual</th>
					<th>Difference</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>kwh</td>
					<td>{{values.covered_kwh}}</td>
					<td>{{values.virtual_kwh}}</td>
					<td>{{values.difference_kwh}}</td>
				</tr>
				<tr>
					<td>units_consumed</td>
					<td>{{values.covered_units_consumed}}</td>
					<td>{{values.virtual_units_consumed}}</td>
					<td>{{values.difference_units_consumed}}</td>
				</tr>
				<tr>
					<td>correction_factor</td>
					<td>{{values.covered_correction_factor}}</td>
					<td>{{values.virtual_correction_factor}}</td>
					<td>{{values.difference_correction_factor}}</td>
				</tr>
				<tr>
					<td>unit_code</td>
					<td>{{values.covered_unit_code}}</td>
					<td>{{values.virtual_unit_code}}</td>
					<td>{{values.difference_unit_code}}</td>
				</tr>
				<tr>
					<td>calorific_value</td>
					<td>{{values.covered_calorific_value}}</td>
					<td>{{values.virtual_calorific_value}}</td>
					<td>{{values.difference_calorific_value}}</td>
				</tr>
		</table>

		{% for table in tables %}
			<table>
				<caption>{{table.name}}</caption>
				<thead>
					<tr>
						<th>Part</th>
						<th>Covered</th>
						<th>Virtual</th>
						<th>Difference</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>gbp</td>
						<td>{{values["covered_" + table.name + "_gbp"]}}</td>
						<td>{{values["virtual_" + table.name + "_gbp"]}}</td>
						<td>{{values["difference_" + table.name + "_gbp"]}}</td>
					</tr>
					{% for part in table['parts']|sort %}
						<tr>
							<td>{{part}}</td>
							<td>{{values["covered_" + table.name + "_" + part]}}</td>
							<td>{{values["virtual_" + table.name + "_" + part]}}</td>
							<td>{{values["difference_" + table.name + "_" + part]}}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% endfor %}
	</section>

	<h2>Raw</h2>	
	<pre>{{raw_data}}</pre>
{% endblock %}
