{% extends "base.html" %}

{% block title %}
	&raquo; Report Runs &raquo; {{row.report_run.id}} &raquo; Row {{row.id}}
{% endblock %}

{% block nav %}
	<a href="/report_runs">Report Runs</a> &raquo;
	<a href="/report_runs/{{row.report_run.id}}">{{row.report_run.id}}</a>
	&raquo; Row {{row.id}}
{% endblock %}

{% block content %}
	{% set values = row.data['values'] %}
	{% set properties = row.data.get('properties', {}) %}
	<table>
		<caption>Bill Check</caption>	
		<thead>
			<tr>
				<th>Batch</th>
				<th>Site</th>
				<th>MPRN</th>
				<th>Covered Bills</th>
				<th>Covered Start</th>
				<th>Covered Finish</th>
				<th>Problem</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><a href="/g/batches/{{values.g_batch_id}}">{{values.batch}}</a></td>
				<td>
					<a href="/sites/{{values.site_id}}">{{values.site_code}} {{values.site_name}}</a>
				</td>
				<td>
					<a href="/g/supplies/{{values.g_supply_id}}">{{values.mprn}}</a>
				</td>
				<td>	
					{% if values['covered_bill_ids'] is not none %}
						{% for bill_id in values['covered_bill_ids'] %}
								<a href="/g/bills/{{bill_id}}">{{bill_id}}</a>
								{% if bill_id == values.g_bill_id %}
								{% endif %}
						{% endfor %}
					{% endif %}
				</td>
				<td><span title="{{values.covered_start}}">{{values.covered_start[:10]}}</span></td>
				<td><span title="{{values.covered_finish}}">{{values.covered_finish[:10]}}</span></td>
				{% for title in columns %}
					<td>	
						{% if title in values and values[title] is not none %}
							{{"%.2f"|format(values[title])}}
						{% endif %}
					</td>
				{% endfor %}
				<td>
					{{ values.covered_problem }} {{ values.virtual_problem }}
				</td>
			</tr>
		</tbody>
	</table>
	{#
	<table>
		<caption>Covered</caption>
		<thead>
			<tr>
				<th>From</th>
				<th>To</th>
				<th>Bills</th>
				<th>Metered kWh</th>
				<th>Net GBP</th>
				<th>Virtual Net GBP</th>
				<th>Difference GBP</th>
				<th>Problem</th>
				<th>Virtual Problem</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{values['covered-from']}}</td>
				<td>{{values['covered-to']}}</td>
				<td>
					{% if values['covered-bills'] != None %}
						<ul>
							{% for bill_id in values['covered-bills'] %}
								<li>
									<a href="/e/supplier_bills/{{bill_id}}">{{bill_id}}</a>
									{% if bill_id == values.bill_id %}
										(This bill)
									{% endif %}
								</li>
							{% endfor %}
						</ul>
					{% endif %}
				</td>
				<td>
					{% if values['metered-kwh'] != None %}
						{{"%.0f"|format(values['metered-kwh'])}}
					{% endif %}
				</td>
				<td>{{values['covered-net-gbp']}}</td>
				<td>
					{% if values['virtual-net-gbp'] != None %}
						{{"%.2f"|format(values['virtual-net-gbp'])}}
					{% endif %}
				</td>
				<td>
					{% if values['difference-net-gbp'] != None %}
						{{"%.2f"|format(values['difference-net-gbp'])}}
					{% endif %}
				</td>
				<td>{{values['covered-problem']}}</td>
				<td>{{values['virtual-problem']}}</td>
			</tr>
		</tbody>
	</table>

	{% for table in tables %}
		<table>
			<caption>{{table.name}}</caption>
			<thead>
				<tr>
					{% for title in table.titles %}
						<th>{{title}}</th>
					{% endfor %}
				</tr>
			</thead>
			<tbody>
				<tr>
					{% for v in table['values'] %}
						<td>{{v}}</td>
					{% endfor %}
				</tr>
			</tbody>
		</table>
	{% endfor %}

	<h2>Raw</h2>	
	<pre>{{raw_data}}</pre>
	#}
{% endblock %}
