{% extends "base.html" %}

{% block title %}Sites &gt; Add{% endblock %}

{% block nav %}
	&raquo; <a href="{{context_path}}/sites">Sites</a> &raquo; Add
{% endblock %}

{% block content %}
<div class="layer-section">
	<div class="section-header">
		<h2>Add a site</h2>
	</div>
	<div class="section-content">
		<div class="section-data">	
			<div class="standardForm inlineFormSubmit">		
				<form action="" method="post">
					<fieldset>
						
						<div class="col-sm-4">
							<label>
								Code {{ input_text('code', '') }}
							</label>
						</div>
						<div class="col-sm-8">
							<label>
								Name {{ input_text('name', '') }}
							</label>
<input type="submit" value="Add">
						</div>
						
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</div>
	
{% endblock %}
