{% extends "base.html" %}

{% block title %}
	Sites &gt; {{site.name}} &gt; HH graph of site use
{% endblock %}

{% block nav %}
	<a href="{{context_path}}/sites">Sites</a> &gt;
	<a href="{{context_path}}/sites/{{site.id}}">{{site.name}}</a> &gt;
	HH graph of site use
{% endblock %}

{% block content %}
	<svg width="{{graph_left + result_data|length + 100}}px" height="400px"
			 xmlns="http://www.w3.org/2000/svg" version="1.1" font-family="Overclock, sans-serif" font-size="12">

		{% if result_data|length > 0 %}
			{% for hh in result_data %}
					{% if not hh.is_complete %}
						<rect x="{{graph_left + loop.index0}}px" y="{{graph_top}}px" width="1px" height="{{max_height}}px" stroke="grey" />
					{% endif %}

					{%- if hh.height > 0 %}
						<rect x="{{graph_left + loop.index0}}px" y="{{x_axis - hh.height}}px" width="1px" height="{{hh.height}}px" fill="
								{%- if hh.is_complete -%}
									blue
								{%- else -%}
									black
								{%- endif -%}">
							<title>{{hh.value}} kW at {{hh.start_date|hh_format}}</title>
						</rect> 
					{% else %}
						<rect x="{{graph_left + loop.index0}}" y="{{x_axis}}" width="1" height="{{hh.height|abs}}"
							fill="
								{%- if hh.is_complete -%}
									blue
								{%- else -%}
									black
								{%- endif -%}"
						/>
					{%- endif %}
			{%- endfor %}

			{% for day in days %}
				<text x="{{graph_left + 48 * loop.index0 + 16}}"
					y="{{graph_top + max_height + 20}}" fill="{{day.colour}}"
				>
					{{day.day}}
				</text>

				<rect x="{{graph_left + loop.index0 * 48}}"
					y="{{graph_top + max_height}}" width="1" height="5"
					fill="black"
				/>
			{% endfor %}

			{% for month in months %}
				<text x="{{graph_left + month.x + 16}}"
					y="{{graph_top + max_height + 45}}" fill="black"
				>
					{{month.name}}
				</text>
			{% endfor %}

			{% for line in scale_lines %}
					<rect x="{{graph_left - 5}}" y="{{line.y}}" width="{{result_data|length + 5}}" height="1" fill="black" />
				<text x="{{graph_left - 40}}" y="{{line.y + 5}}" fill="black">
				 {{line.height * 2}}
				</text>

				{% for month in months %}
					<text x="{{graph_left + month.x + 16}}" y="{{line.y + -2}}"
						fill="black"
					>
						{{line.height * 2}}
					</text>
				{% endfor %}
			{% endfor %}

			<rect x="{{graph_left}}" y="{{graph_top}}" width="1" height="{{max_height}}"/>

			<text x="{{graph_left - 90}}" y="100">kW</text>
			<text x="30" y="30">{{title}}</text>
			<text x="30" y="395" font-size="10">
				Poor data is denoted by a grey background and black foreground
			</text>

		{% else %}
			<text x="30" y="10" font-height="12">
				No data available for this period.
			</text>
		{% endif %}



	<!--
					if hour == 0 and minute == 0:
							day = cal.get(Calendar.DAY_OF_MONTH)
							dayOfWeek = cal.get(Calendar.DAY_OF_WEEK)
							if dayOfWeek == 7 or dayOfWeek == 1:
									graphics.setColor(Color.RED)
							else:
									graphics.setColor(Color.BLACK)
							graphics.drawString(str(day), graphLeft + i + 16, graphTop + maxHeight + 20)
							graphics.setColor(Color.BLACK)
							graphics.fillRect(graphLeft + i, graphTop + maxHeight, 1, 5)
							if day == 15:
									graphics.drawString(monthDateFormat.format(cal.getTime()), graphLeft + i + 16, graphTop + maxHeight + 45)
									monthPoints.append(i)
			graphics.setColor(Color.BLACK)
			graphics.fillRect(graphLeft, graphTop, 1, maxHeight)

			graphics.setColor(Color.BLACK)

			for point in range(0, maxScale, step) + range(0, minScale, step * -1):
					graphics.fillRect(graphLeft - 5, int(xAxis - point * scaleFactor), len(resultData) + 5, 1)
					graphics.drawString(str(point * 2), graphLeft - 40, int(xAxis - point * scaleFactor + 5))
					for monthPoint in monthPoints:
							graphics.drawString(str(point * 2), graphLeft + monthPoint + 16, int(xAxis - point * scaleFactor - 2))

			graphics.drawString("kW", graphLeft - 90, 100)
			title = "Electricity use at site " + site.getCode() + " " + site.getName() + " for " + str(months) + " month"
			if months > 1:
					title += "s"
			title += " ending " + monthDateFormat.format(Date(finishDate.getTime() - 1)) + " " + yearDateFormat.format(Date(finishDate.getTime() - 1))
			graphics.drawString(title, 30, 30)
			graphics.setFont(smallFont)
			graphics.drawString("Poor data is denoted by a grey background and black foreground.", 30, 395)
	else:
			image = BufferedImage(400, 400, BufferedImage.TYPE_4BYTE_ABGR)
			graphics = image.createGraphics()
			graphics.setColor(Color.BLACK)
			graphics.drawString("No data available for this period.", 30, 10)

	os = inv.getResponse().getOutputStream()
	graphics.setColor(Color.BLACK)
	#graphics.drawString("report took..." + str(java.lang.System.currentTimeMillis() - start) + "ms", 10, 390)
	ImageIO.write(image, "png", os)
	os.close()
	'''

	-->
	</svg>

	<br>	
	<form action="">
		<fieldset>
			<legend>Show graph</legend>
			<input type="hidden" name="site_id" value="{{site.id}}">
			For {{input_text('months', request.values.months, 2, 2)}}
			months finishing in {{input_date('finish', finish_date, 'month')}}
			<input type="submit" value="Show">
		</fieldset>
	</form>
{% endblock %}
