{% extends "base.html" %}

{% block title %}
	Supplies &gt; {{supply.id}} &gt; Notes &gt; {note.index} Edit
{% endblock %}

{% block nav %}
	<a href="/supplies">Supplies</a>  &gt;
	<a href="/supplies/{{supply.id}}">{{supply.id}}</a>  &gt;
	<a href="/supplies/{{supply.id}}/notes">Notes</a>  &gt; {{note.index}} Edit
{% endblock %}

{% block content %}
	<form method="post">
		<fieldset>
			<legend>Edit Note</legend>
			Category {{input_text('category', note.category)}}
			<br>
			Important? {{input_checkbox('is_important', note.is_important)}}
			<br>
			{{input_textarea('body', note.body, 30, 80)}}
			<br>
			<input type="submit" name="update" value="Edit">
		</fieldset>
	</form>
	<br>
	<form method="post">
		<fieldset>
			<legend>Delete Note</legend>
			<br>
			<input type="submit" name="delete" value="Delete">
		</fieldset>
	</form>
{% endblock %}
