{% extends "base.html" %}

{% block title %}
	&raquo; Supplier Contracts &raquo; {{batch.contract.name}} &raquo;
 	Batches &raquo; {{batch.reference}}
{% endblock %}

{% block nav %}
	&raquo;
 	<a href="/supplier_contracts">Supplier Contracts</a> &raquo; 
	<a
	 		href="/supplier_contracts/{{batch.contract.id}}"
			>{{batch.contract.name}}</a> &raquo; 
	<a
	 		href="/supplier_batches?supplier_contract_id={{batch.contract.id}}"
			>Batches</a> &raquo; 
	{{batch.reference}}
	[<a href="/supplier_batches/{{batch.id}}/edit">edit</a>]
{% endblock %}

{% block content %}
	<div class="layer-section">
		<div class="section-content">
			<div class="section-data">
				<table class="DataTable widthAuto noMarginBottom">
					<tr>
						<th>Reference</th>
						<td>{{batch.reference}}</td>
					</tr>
					<tr>
						<th>Description</th>
						<td>{{batch.description}}</td>
					</tr>
					<tr>
						<th>Number Of Bills</th>
						<td>{{ "{:,}".format(num_bills) }}</td>
					</tr>
					<tr>
						<th>Sum net GBP</th>
						<td>{{ "£{:,}".format(sum_net_gbp) }}</td>
					</tr>
					<tr>
						<th>Sum VAT GBP</th>
						<td>{{ "£{:,}".format(sum_vat_gbp) }}</td>
					</tr>
					<tr>
						<th>Sum gross GBP</th>
						<td>{{ "£{:,}".format(sum_gross_gbp) }}</td>
					</tr>
					<tr>
						<th>Sum kWh</th>
						<td>{{ "{:,}".format(sum_kwh) }}</td>
					</tr>
					{% if batch_reports %}
						<tr>
							<th>Custom Reports</th>
							<td>
								<ul>
									{% for report in batch_reports %}
										<li>
											<a
											 		href="/local_reports/{{report.id}}/output?batch_id={{batch.id}}"
													>{{report.name}}</a>
										</li>
									{% endfor %}
								</ul>
							</td>
						</tr>
					{% endif %}
				</table>
				<ul>
					<li>
						<a
								href="/reports/111?batch_id={{batch.id}}"
								>Check Bills</a>
					</li>
					<li>
						<a
								href="/supplier_bill_imports?supplier_batch_id={{batch.id}}"
								>Bill Imports</a>
					</li>
					<li>
						<a
								href="/supplier_batches/{{batch.id}}/csv"
								>CSV of Bills</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="layer-section">
		<div class="section-header">
			<h2>Bills
				[<a href="/supplier_batches/{{batch.id}}/add_bill">add</a>]
			</h2>	
		</div>
		<div class="section-content">
			<div class="section-data">
				{% if bills != None %}
					<div class="DataTable widthAuto noMarginBottom">
						<table>
							<thead>
								<tr>
									<th>View</th>
									<th>Reference</th>
									<th>Account</th>
									<th>Issued</th>
									<th>From</th>
									<th>To</th>
									<th>kWh</th>
									<th>Net</th>
									<th>VAT</th>
									<th>Gross</th>
									<th>Type</th>
								</tr>
							</thead>
							<tbody>
								{% for bill in bills %}
									<tr>
										<td><a href="/supplier_bills/{{bill.id}}">View</a></td>
										<td>{{bill.reference}}</td>
										<td>{{bill.account}}</td>
										<td>{{bill.issue_date|hh_format}}</td>
										<td>{{bill.start_date|hh_format}}</td>
										<td>{{bill.finish_date|hh_format}}</td>
										<td>{{bill.kwh}}</td>
										<td>{{bill.net}}</td>
										<td>{{bill.vat}}</td>
										<td>{{bill.gross}}</td>
										<td>
											<a
													href="/bill_types/{{bill.bill_type.id}}"
													title="{{bill.bill_type.description}}"
													>{{bill.bill_type.code}}</a>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				{% else %}
					<p><a href="/supplier_batches/{{batch.id}}">Bills</a></p>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
