{% extends "base.html" %}

{% block title %}
	Supplier Contracts &gt; {{rate_script.contract.name}} &gt;
 	Rate Script {{rate_script.id}}
{% endblock %}

{% block nav %}
	<a href="{{context_path}}/supplier_contracts">Supplier Contracts</a> &gt;
	<a href="{{context_path}}/supplier_contracts/{{rate_script.contract.id}}">{{rate_script.contract.name}}</a> &gt;
 	Rate Script {{rate_script.start_date|hh_format}}
	[<a href="{{context_path}}/supplier_rate_script/{{rate_script.id}}/edit">edit</a>]
{% endblock %}

{% block content %}
	<table>
		<tr>
			<th>Start Date</th>
			<td>{{rate_script.start_date|hh_format }}</td>
		</tr>
		<tr>
			<th>Finish Date</th>
			<td>{{rate_script.finish_date|hh_format }}</td>
		</tr>
	</table>

	<h2>Script</h2>

	<pre>{{rate_script.script}}</pre>
{% endblock %}
