{% extends "base.html" %}

{% block title %}
	System
{% endblock %}

{% block nav %}
	System
{% endblock %}

{% block content %}
	<table>
		<tr>
			<th>Version Number</th>
			<td>{{version_number}}</td>
		</tr>
		<tr>
			<th>Version Hash</th>
			<td>
				<a
				 	href="https://github.com/WessexWater/chellow/commit/{{version_hash}}"
					>
					{{version_hash}}
				</a>
			</td>
		</tr>
	</table>

	<pre>{{traces}}</pre>

	<table><caption>pg_stat</caption>
		<thead>
			<tr>
				{% for title in pg_stats[0].keys() %}
					<th>{{title}}</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% for row in pg_stats %}
				<tr>
					{% for cell in row %}
						<td>{{cell}}</td>
					{% endfor %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
