<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css"
      href="/chellow/reports/19/output/" />
		<title>Chellow &gt; Reports</title>
  </head>
  <body>
		<p>
		<a href="/chellow/reports/1/output/">Chellow</a> &gt; System
		</p>

    {% if messages %}
      <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}

		{% if subprocess %}
			<p><pre>{{subprocess}}</pre></p>
		{% endif %}

		<form action="." method="post">
			<fieldset>
				<legend>Upgrade Chellow</legend>
				<p>Run <code>pip install --upgrade chellow</code></p>
				<input type="submit" name="upgrade" value="Upgrade">
			</fieldset>
		</form>
		<br>
		<form action="." method="post">
			<fieldset>
				<legend>Upgrade Chellow</legend>
				<p>Run <code>stop_chellow; start_chellow</code></p>
				<input type="submit" name="restart" value="Restart">
			</fieldset>
		</form>
	</body>
</html>
