{% extends "base.html" %}

{% block title %}
	&raquo; Users &raquo; {{user.username}} &raquo; Edit
{% endblock %}

{% block nav %}
	<a href="/users">Users</a> &raquo; {{ user.username }}
 	&raquo; Edit
{% endblock %}

{% block content %}
	<form method="post" action="/users/{{user.id}}/edit">
		<fieldset>
			<legend>Update details</legend>	
			<label>Username (case sensitive)</label>
			{{ input_text('username', initial=user.username, size='100') }}

			<fieldset>
				<legend>Role</legend>
				<label>Editor</label>
				<input type="radio" name="user_role_code" value="editor"
						{%- if request.values.user_role_editor -%}
							{%- if request.values.user_role_editor == 'editor' %}
								checked
							{%- endif -%}
						{%- else -%}
							{%- if user.user_role.code == 'editor' %}
								checked
							{%- endif -%}
						{%- endif -%}
				>
				<label>Viewer</label>
				<input type="radio" name="user_role_code" value="viewer"
				{% if request.values.user_role_code %}
					{% if request.values.user_role_code == 'viewer' %}
						checked
					{% endif %}
				{% else %}
					{% if user.user_role.code == 'viewer' %}
						checked
					{% endif %}
				{% endif %}
				>
			</fieldset>
			<input type="submit" value="Update">
		</fieldset>
	</form>

	<form hx-delete="/users/{{user.id}}/edit" hx-confirm="Do you really want to delete this user?">
		<fieldset>
			<legend>Delete this user</legend>	
			<input type="submit" name="delete" value="Delete">
		</fieldset>
	</form>

{% endblock %}
