{% extends "base.html" %}

{% block title %}
	&raquo; CSV Sites Duration
{% endblock %}

{% block nav %}
	CSV Sites Duration
{% endblock %}

{% block content %}

	<form action="/reports/59">
		<fieldset>
			<legend>Download</legend>	
			<label>From</label> {{input_date('start', month_start)}}
			<label>To</label> {{input_date('finish', month_finish)}}
			<label>Site Codes</label>
			{{input_textarea(
				'site_codes', '', 5, 40,
				placeholder='Site Codes (one on each line, includes all sites if left blank')}}
			<input type="submit" value="Download">
		</fieldset>
	</form>

{% endblock %}
