{% extends "base.html" %}

{% block title %}
	&raquo; DC Contracts &raquo; Add
{% endblock %}

{% block nav %}
	<a href="/e/dc_contracts">DC Contracts</a> &raquo; Add
{% endblock %}

{% block content %}
	<form method="post">
		<fieldset>
			<legend>Add a DC contract</legend>
			<label>Participant</label>
			<select name="party_id">
				{% for party in parties %}
					{{ input_option('party_id', party.id,
							party.participant.code + " : " + party.name) }}
				{% endfor %}
			</select>
			<label>Name</label>
			<input name="name" value="
				{%- if request.values.name -%}
					{{ request.values.name }}
				{%- endif -%}
			">
		<fieldset>
			<fieldset>
				<legend>Start Date</legend> {{ input_date('start', initial_date) }}
			</fieldset>
			<input type="submit" value="Add">
			<input type="reset" value="Reset">
		</fieldset>
	</form>

{% endblock %}
