{% extends "base.html" %}

{% block title %}
	&raquo; DC Contracts &raquo; {{contract.name}} &raquo; Add Rate Script
{% endblock %}

{% block nav %}
	<a href="/e/dc_contracts">DC Contracts</a> &raquo; 
	<a href="/e/dc_contracts/{{contract.id}}">{{contract.name}}</a> &raquo;
 	Add Rate Script
{% endblock %}

{% block content %}

	<form action="/e/dc_contracts/{{contract.id}}/add_rate_script" method="post">
		<fieldset>
			<legend>Add a rate script</legend>	
			<fieldset>
				<label>Start Date</label>
				{{input_date('start', initial_date)}}
			</fieldset>
			<input type="submit" value="Add">
		</fieldset>
	</form>		    

{% endblock %}
