{% extends "base.html" %}

{% block title %}
	&raquo; DTC Meter Types
{% endblock %}

{% block nav %}
	DTC Meter Types
{% endblock %}

{% block content %}

	<table>
		<thead>
			<tr>
				<th>Code</th>
				<th>Description</th>
			</tr>
		</thead>
		<tbody>
			{% for dtc_meter_type in dtc_meter_types %}
				<tr>
					<td><a href="/e/dtc_meter_types/{{dtc_meter_type.id}}">{{dtc_meter_type.code}}</a></td>
					<td>{{dtc_meter_type.description}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
