{% extends "base.html" %}

{% block title %}
	&raquo; Generator Types
{% endblock %}

{% block nav %}
	Generator Types
{% endblock %}

{% block content %}
	<table>
		<thead>
			<tr>
				<th>Code</th>
				<th>Description</th>
			</tr>
		</thead>
		<tbody>
			{% for generator_type in generator_types %}
				<tr>
					<td>
						<a href="/e/generator_types/{{generator_type.id}}"
								>{{generator_type.code}}</a>
					</td>
					<td>{{generator_type.description}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	
{% endblock %}
