{% extends "base.html" %}

{% block title %}
	&raquo; Issues
{% endblock %}

{% block inside_head %}
	<style>
		#issues.htmx-swapping {
			opacity: 0;
			transition: opacity 1s ease-out;
		}
	</style>
{% endblock %}

{% block nav %}
	Issues
{% endblock %}

{% block content %}

	<form hx-get="/reports/issues" hx-params="*" hx-include="this" hx-trigger="load, change"
			hx-target="#issues" hx-swap="outerHTML swap:1s">
		<fieldset>
			<legend>Filters</legend>	

			<label>Contract</label>
			<select name="contract_id" multiple size="{{dc_contracts|length + supplier_contracts|length + 2}}">
				<optgroup label="DC">
					{% for contract in dc_contracts %}
						{{input_option('contract_id', contract.id, contract.name)}}
					{% endfor %}
				</optgroup>
				<optgroup label="Supplier">
					{% for contract in supplier_contracts %}
						{{input_option('contract_id', contract.id, contract.name)}}
					{% endfor %}
				</optgroup>
			</select>
		</fieldset>
	</form>

	<div id="issues"></div>

{% endblock %}
