{% extends "base.html" %}

{% block title %}
	&raquo; Issues
{% endblock %}

{% block inside_head %}
	<style>
		#issues.htmx-swapping {
			opacity: 0;
			transition: opacity 1s ease-out;
		}
	</style>
{% endblock %}

{% block nav %}
	Issues
{% endblock %}

{% block content %}

	<form hx-get="/reports/issues" hx-params="*" hx-include="this" hx-trigger="load, change"
			hx-target="#issues" hx-swap="outerHTML swap:1s">
		<fieldset>
			<legend>Filters</legend>	

			<label>Contract</label>
			<select name="contract_id" multiple size="{{mop_contracts|length + dc_contracts|length + supplier_contracts| length + 3}}">
				<optgroup label="MOP">
					{% for contract in mop_contracts %}
						{{input_option('contract_id', contract.id, contract.name)}}
					{% endfor %}
				</optgroup>
				<optgroup label="DC">
					{% for contract in dc_contracts %}
						{{input_option('contract_id', contract.id, contract.name)}}
					{% endfor %}
				</optgroup>
				<optgroup label="Supplier">
					{% for contract in supplier_contracts %}
						{{input_option('contract_id', contract.id, contract.name)}}
					{% endfor %}
				</optgroup>
			</select>
			<label>Owner</label>
			<select name="owner_id" multiple size="{{owners|length + 2}}">
				{% for owner in owners %}
					{{input_option('owner_id', owner.id, owner.email_address)}}
				{% endfor %}
			</select>
		</fieldset>
	</form>

	<div id="issues"></div>

{% endblock %}
