{% extends "base.html" %}

{% block title %}
	&raquo; Meter Types
{% endblock %}

{% block nav %}
	Meter Types
{% endblock %}

{% block content %}

	<table>
		<caption>Meter Types</caption>	
		<thead>
			<tr>
				<th>Code</th>
				<th>Description</th>
				<th>Valid From</th>
				<th>Valid To</th>
			</tr>
		</thead>
		<tbody>
			{% for meter_type in meter_types %}
				<tr>
					<td><a href="/e/meter_types/{{meter_type.id}}" >{{meter_type.code}}</a></td>
					<td>{{meter_type.description}}</td>
					<td>{{meter_type.valid_from|hh_format}}</td>
					<td>{{meter_type.valid_to|hh_format}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	
{% endblock %}
