{% extends "base.html" %}

{% block title %}
	&raquo; MOP Contracts &raquo; {{contract.name}} &raquo; Add Rate Script
{% endblock %}

{% block nav %}
	<a href="/e/mop_contracts">MOP Contracts</a> &raquo; 
	<a href="/e/mop_contracts/{{contract.id}}">{{contract.name}}</a> &raquo;
 	Add Rate Script
{% endblock %}

{% block content %}

	<form method="post" action="/e/mop_contracts/{{contract.id}}/add_rate_script">
		<fieldset>
			<legend>Add a rate script</legend>	
			<fieldset>
				<legend>Start Date</legend> {{ input_date('start', initial_date) }}
			</fieldset>
			<input type="submit" value="Add">
		</fieldset>
	</form>

{% endblock %}
