{% extends "base.html" %}

{% block title %}
	&raquo; MOP Contracts &raquo; Add
{% endblock %}

{% block nav %}
	<a href="/e/mop_contracts">MOP Contracts</a> &raquo; Add
{% endblock %}

{% block content %}
	<form method="post">
		<fieldset>
			<legend>Add a MOP contract</legend>
			<label>Participant</label>
			<select name="participant_id">
				{% for party in parties %}
					{{ input_option('participant_id', party.participant.id,
							party.participant.code + " : " + party.name) }}
				{% endfor %}
			</select>
			<label>Name</label>
			{{input_text('name')}}
			<fieldset>
					<legend>Start Date</legend>
					{{ input_date('start') }}
			</fieldset>
			<input type="submit" value="Add">
		</fieldset>
	</form>
{% endblock %}
