{% extends "base.html" %}

{% block title %}
	&raquo; MOP Contracts
{% endblock %}

{% block nav %}
	MOP Contracts [<a href="/e/mop_contracts/add">add</a>]
{% endblock %}

{% block content %}
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Start Date</th>
				<th>Finish Date</th>
				<th>MOP</th>
			</tr>
		</thead>
		<tbody>
			{% for contract in mop_contracts %}
				<tr>
					<td>
						<a href="/e/mop_contracts/{{contract.id}}">{{contract.name}}</a>
					</td>
					<td>{{contract.start_rate_script.start_date|hh_format }}</td>
					<td>{{contract.finish_rate_script.finish_date|hh_format}}</td>
					<td>
						<a href="/e/parties/{{contract.party.id}}">{{contract.party.name}}</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
