{% extends "base.html" %}

{% block title %}
	&raquo; DNOs &raquo; {{dno.dno_code}} &raquo; MTC SSCs
{% endblock %}

{% block nav %}
	<a href="/e/dnos">DNOs</a> &raquo; 
	<a href="/e/dnos/{{dno.id}}">{{dno.dno_code}}</a> &raquo; MTC SSCs
{% endblock %}

{% block content %}
	<table class="sticky">
		<caption>
			MTC SSCs
			(<a href="/e/mtc_sscs/csv?participant_id={{dno.participant.id}}">Download CSV</a>)
		<thead>
			<tr>
				<th>View</th>
				<th>MTC</th>
				<th>SSC</th>
				<th>Valid From</th>
				<th>
					Valid To
					{% if request.values.only_ongoing %}
						(<a href="/e/mtc_sscs?participant_id={{dno.participant.id}}"
							>show all</a>)
					{% else %}
						(<a href="/e/mtc_sscs?participant_id={{dno.participant.id}}&amp;only_ongoing=true"
							>only show ongoing</a>)
					{% endif %}
				</th>
			</tr>
		</thead>
		<tbody>
			{% for mtc_ssc in mtc_sscs %}
				<tr>
					<td>
						<a href="/e/mtc_sscs/{{mtc_ssc.id}}">View</a>
					</td>
					<td>
						<a href="/e/mtc_participants/{{mtc_ssc.mtc_participant.id}}">{{mtc_ssc.mtc_participant.mtc.code}} {{mtc_ssc.mtc_participant.description}}</a>
					</td>
					<td>
						<a href="/e/sscs/{{mtc_ssc.ssc.id}}">{{mtc_ssc.ssc.code}} {{mtc_ssc.ssc.description}}</a>
					</td>
					<td>{{mtc_ssc.valid_from|hh_format}}</td>
					<td>{{mtc_ssc.valid_to|hh_format}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
