{% extends "base.html" %}

{% block title %}
	&raquo; DNOs &raquo; {{dno.dno_code}} &raquo; MTC LLFC SSCs &raquo;
 	{{mtc_llfc_ssc.id}}
{% endblock %}

{% block nav %}
	<a href="/e/dnos">DNOs</a> &raquo; 
	<a href="/e/dnos/{{dno.id}}">{{dno.dno_code}}</a> &raquo; 
	<a href="/e/mtc_llfc_sscs?participant_id={{mtc_llfc_ssc.mtc_ssc.mtc_participant.participant.id}}">MTC
	 	LLFC SSCs</a> &raquo;
 	{{mtc_llfc_ssc.id}}
{% endblock %}

{% block content %}
	<table>
		<tr>
			<th>MTC SSC</th>
			<td>
				<a href="/e/mtc_sscs/{{mtc_llfc_ssc.mtc_ssc.id}}"
					 >View</a>
			</td>
		</tr>
		<tr>
			<th>MTC Participant</th>
			<td>
				<a href="/e/mtc_participants/{{mtc_llfc_ssc.mtc_ssc.mtc_participant.id}}"
					 >{{mtc_llfc_ssc.mtc_ssc.mtc_participant.mtc.code}}
					 {{mtc_llfc_ssc.mtc_ssc.mtc_participant.description}}</a>
			</td>
		</tr>
		<tr>
			<th>LLFC</th>
			<td>
				<a href="/e/llfcs/{{mtc_llfc_ssc.llfc.id}}"
					 >{{mtc_llfc_ssc.llfc.code}} {{mtc_llfc_ssc.llfc.description}}</a>
			</td>
		</tr>
		<tr>
			<th>SSC</th>
			<td>
				<a href="/e/sscs/{{mtc_llfc_ssc.mtc_ssc.ssc.id}}"
					 >{{mtc_llfc_ssc.mtc_ssc.ssc.code}}
					 {{mtc_llfc_ssc.mtc_ssc.ssc.description}}</a>
			</td>
		</tr>
		<tr>
			<th>Valid From</th>
			<td>{{mtc_llfc_ssc.valid_from|hh_format}}</td>
		</tr>
		<tr>
			<th>Valid To</th>
			<td>{{mtc_llfc_ssc.valid_to|hh_format}}</td>
		</tr>
	</table>
{% endblock %}
