{% extends "base.html" %}

{% block title %}
	&raquo; DNOs &raquo; {{dno.dno_code}} &raquo; Valid MTC, LLFC, SSC And PC Combinations
{% endblock %}

{% block nav %}
	<a href="/e/dnos">DNOs</a> &raquo; 
	<a href="/e/dnos/{{dno.id}}">{{dno.dno_code}}</a> &raquo;
 	Valid MTC, LLFC, SSC And PC Combinations
{% endblock %}

{% block content %}
	<table class="sticky">
		<caption>
			Valid MTC, LLFC, SSC and PC Combinations
			(<a href="/e/mtc_llfc_ssc_pcs/csv?dno_id={{dno.id}}">Download CSV</a>)
		</caption>	
		<thead>
			<tr>
				<th>View</th>
				<th>PC</th>
				<th>LLFC</th>
				<th>SSC</th>
				<th>MTC</th>
				<th>Valid From</th>
				<th>
					Valid To
					{% if request.values.only_ongoing %}
						(<a href="/e/mtc_llfc_ssc_pcs?dno_id={{dno.id}}">show all</a>)
					{% else %}
						(<a href="/e/mtc_llfc_ssc_pcs?dno_id={{dno.id}}&amp;only_ongoing=true"
							>only show ongoing</a>)
					{% endif %}
				</th>
			</tr>
		</thead>
		<tbody>
			{% for combo in mtc_llfc_ssc_pcs %}
				<tr>
					<td>
						<a href="/e/mtc_llfc_ssc_pcs/{{combo.id}}">View</a>
					</td>
					<td>{{combo.pc.code}} {{combo.pc.description}}</td>
					<td>
						{{combo.mtc_llfc_ssc.llfc.code}}
						{{combo.mtc_llfc_ssc.llfc.description}}
					</td>
					<td>
						{{combo.mtc_llfc_ssc.mtc_ssc.ssc.code}}
						{{combo.mtc_llfc_ssc.mtc_ssc.ssc.description}}
					</td>
					<td>
						{{combo.mtc_llfc_ssc.mtc_ssc.mtc_participant.mtc.code}}
						{{combo.mtc_llfc_ssc.mtc_ssc.mtc_participant.mtc.description}}
					</td>
					<td>{{combo.valid_from|hh_format}}</td>
					<td>{{combo.valid_to|hh_format}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
