{% extends "base.html" %}

{% block title %}
	&raquo; Scenarios &raquo; {{scenario.name}}
{% endblock %}

{% block nav %}
	<a href="/e/scenarios">Scenarios</a> &raquo; {{scenario.name}} 
 	[<a href="/e/scenarios/{{scenario.id}}/edit">edit</a>]
{% endblock %}

{% block content %}
	<form action="/reports/247" method="post">
		<fieldset>
			<legend>Run With Monthly Duration</legend>
			<input type="hidden" name="scenario_id" value="{{scenario.id}}">
			<label>Months</label> {{input_text('months', initial=scenario_duration, size=2, maxlength=2)}}
			<label>Finish month</label>
		 	{{input_date('finish', scenario_finish_date, resolution='month')}}
			<label>Site Codes</label>
			{{input_textarea('site_codes', '', 5, 40,
			  placeholder='One on each line, includes all if left blank')}}    						
			<input type="submit" value="Run">
		</fieldset>	
	</form>

	<form action="/reports/59" method="post">
		<fieldset>
			<legend>Run With Duration</legend>
			<input type="hidden" name="scenario_id" value="{{scenario.id}}">
			<label>Start Date</label>
			{{ input_date('start', scenario_start_date) }}
			<label>Finish Date</label>
			{{ input_date('finish', scenario_finish_date) }}
			<label>Site Codes</label>
			{{input_textarea('site_codes', site_codes, 5, 40,
			  placeholder='One on each line, includes all if left blank')}}    						
			<input type="submit" value="Run">
		</fieldset>	
	</form>

	<h2>Properties</h2>	

	<pre>{{scenario.properties}}</pre>

	{% include "e/scenario_docs.html" %}

{% endblock %}
