{% extends "base.html" %}

{% block title %}
	Supplier Contracts
{% endblock %}

{% block nav %}
	Supplier Contracts [<a href="/e/supplier_contracts/add">add</a>]
{% endblock %}

{% block content %}
	<table>
		<caption>Ongoing Supplier Contracts</caption>	
		<thead>
			<tr>
				<th>Name</th>
				<th>Start Date</th>
				<th>Finish Date</th>
				<th>Party</th>
			</tr>
		</thead>
		<tbody>
			{% for contract in ongoing_supplier_contracts %}
				<tr>
					<td>
						<a href="/e/supplier_contracts/{{contract.id}}">{{contract.name}}</a>
					</td>
					<td>{{contract.start_rate_script.start_date|hh_format}}</td>
					<td>
						{{contract.finish_rate_script.finish_date|hh_format}}
					</td>
					<td>
						<a href="/e/parties/{{contract.party.id}}">{{contract.party.name}}</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<table>
		<caption>Ended Supplier Contracts</caption>	
		<thead>
			<tr>
				<th>Name</th>
				<th>Start Date</th>
				<th>Finish Date</th>
				<th>Party</th>
			</tr>
		</thead>
		<tbody>
			{% for contract in ended_supplier_contracts %}
				<tr>
					<td>
						<a href="/e/supplier_contracts/{{contract.id}}">{{contract.name}}</a>
					</td>
					<td>
						{{contract.start_rate_script.start_date|hh_format}}
					</td>
					<td>
						{{contract.finish_rate_script.finish_date|hh_format}}
					</td>
					<td>
						<a href="/e/parties/{{contract.party.id}}">{{contract.party.name}}</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
