<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>Chellow</display-name>
	<context-param>
		<param-name>first.email</param-name>
		<param-value>admin@example.com</param-value>
	</context-param>
	<context-param>
		<param-name>first.password</param-name>
		<param-value>admin</param-value>
	</context-param>
	<context-param>
		<param-name>chellow.configuration_directory</param-name>
		<param-value>
			WEB-INF/config
		</param-value>
	</context-param>
	<listener>
		<listener-class>net.sf.chellow.ui.ContextListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>chellow</servlet-name>
		<servlet-class>net.sf.chellow.ui.Chellow</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>chellow</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
	<resource-ref>
		<description>Chellow Database</description>
		<res-ref-name>jdbc/chellow</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Unshareable</res-sharing-scope>
	</resource-ref>
</web-app>