<!DOCTYPE html>
<html>
<body>
<p><a href="/">Jevons</a> {% for parent in asset.parents %}&gt; <a href="/asset?asset_id={{ parent.id }}">{{ parent.name }}</a>{% endfor %} &gt; <a href="/show_asset?asset_id={{ asset.id }}">{{ asset.name }}</a>  &gt; Add Advance</p>

<form method="post" action="/add_advance">{% csrf_token %}
<fieldset>
<legend>Add Advance</legend>
<input type="hidden" name="stream_id" value="{{ stream.id }}">
<label>Start Date <input size="4" maxlength="4" name="year" value="{{ utc_now.year }}" /></label>-<select name="month">
{% for month in months %}
<option value="{{ month|stringformat:'02d' }}"{% if request.POST.month %}{% if month == request.POST.month %} selected{% endif %}{% else %}{% if month == utc_now.month %} selected{% endif %}{% endif %}>{{ month|stringformat:'02d' }}</option>
{% endfor %}
</select>-<select name="day">
{% for day in days %}
<option value="{{ day|stringformat:'02d' }}"{% if request.POST.day %}{% if day == request.POST.day %} selected{% endif %}{% else %}{% if day == utc_now.day %} selected{% endif %}{% endif %}>{{ day|stringformat:'02d' }}</option>
{% endfor %}
</select> <select name="hour">
{% for hour in hours %}
<option value="{{ hour|stringformat:'02d' }}"{% if request.POST.hour %}{% if hour == request.POST.hour %} selected{% endif %}{% else %}{% if hour == utc_now.hour %} selected{% endif %}{% endif %}>{{ hour|stringformat:'02d' }}</option>
{% endfor %}
</select>:<select name="minute">
{% for minute in minutes %}
<option value="{{ minute|stringformat:'02d' }}"{% if request.POST.minute %}{% if minute == request.POST.minute %} selected{% endif %}{% else %}{% if minute == utc_now.minute %} selected{% endif %}{% endif %}>{{ minute|stringformat:'02d' }}</option>
{% endfor %}
</select>
<br />
<label>Value <input name="value" value="{{ request.POST.value }}" /></label>
<br />
<input type="submit" value="Add" /> <input type="reset" value="Reset" />
</fieldset>
</form>

</body>
</html>