<!DOCTYPE html>
<html>
<body>
<p><a href="/">Jevons</a> &gt; <a href="/show_importer?importer_id={{ importer.id }}">{{ importer.name }}</a> &gt; update</p>

{%if message %}<p>{{ message }}</p>{% endif %}

<form method="post" action="/update_importer">{% csrf_token %}
<fieldset>
<legend>Update Importer</legend>
<input type="hidden" name="importer_id" value="{{ importer.id }}">
<label>Name <input size="40" name="name" value="{{ importer.name }}" /></label>
<br />
<label>Properties <textarea name="properties">{{ importer.properties }}</textarea></label>
<br />
<input name="update" type="submit" value="Update" /> <input type="reset" value="Reset" />
</fieldset>
</form>

<form method="post" action="/update_importer">{% csrf_token %}
<fieldset>
<legend>Update Importer State</legend>
<input type="hidden" name="importer_id" value="{{ importer.id }}">
<br />
<label>State <textarea name="state">{{ importer.state }}</textarea></label>
<br />
<input name="update-state" type="submit" value="Update" /> <input type="reset" value="Reset" />
</fieldset>
</form>

<p><a href="/delete_importer?importer_id={{ importer.id }}">Delete this importer</a></p>

</body>
</html>