<!DOCTYPE html>
<html>
<body>
<p><a href="/">Jevons</a> {% for parent in advance.stream.asset.parents %}&gt; <a href="/show_asset?asset_id={{ parent.id }}">{{ parent.name }}</a>{% endfor %} &gt; <a href="/show_asset?asset_id={{ advance.stream.asset.id }}">{{ advance.stream.asset.name }}</a> &gt; <a href="/show_stream?stream_id={{ advance.stream.id }}">{{ advance.stream.name }}</a> &gt; {{ advance.start_date|date:"Y-m-d H:i" }} &gt; update</p>

<form method="post" action="/update_advance">{% csrf_token %}
<fieldset>
<legend>Update Advance</legend>
<input type="hidden" name="advance_id" value="{{ advance.id }}">
<label>Start Date <input size="4" maxlength="4" name="start_date_year" value="{% if request.POST.year %}{{ request.POST.year }}{% else %}{{ advance.start_date|date:'Y' }}{% endif %}" /></label>-<select name="start_date_month">
{% for month in months %}
<option value="{{ month|stringformat:'02d' }}"{% if request.POST.month %}{% if month == request.POST.month %} selected{% endif %}{% else %}{% if month == advance.start_date.month %} selected{% endif %}{% endif %}>{{ month|stringformat:'02d' }}</option>
{% endfor %}
</select>-<select name="start_date_day">
{% for day in days %}
<option value="{{ day|stringformat:'02d' }}"{% if request.POST.day %}{% if day == request.POST.day %} selected{% endif %}{% else %}{% if day == advance.start_date.day %} selected{% endif %}{% endif %}>{{ day|stringformat:'02d' }}</option>
{% endfor %}
</select> <select name="start_date_hour">
{% for hour in hours %}
<option value="{{ hour|stringformat:'02d' }}"{% if request.POST.hour %}{% if hour == request.POST.hour %} selected{% endif %}{% else %}{% if hour == advance.start_date.hour %} selected{% endif %}{% endif %}>{{ hour|stringformat:'02d' }}</option>
{% endfor %}
</select>:<select name="start_date_minute">
{% for minute in minutes %}
<option value="{{ minute|stringformat:'02d' }}"{% if request.POST.minute %}{% if minute == request.POST.minute %} selected{% endif %}{% else %}{% if minute == advance.start_date.minute %} selected{% endif %}{% endif %}>{{ minute|stringformat:'02d' }}</option>
{% endfor %}
</select>
<br />
<label>Value <input name="value" value="{% if request.POST.value %}{{ request.POST.value }}{% else %}{{ advance.value }}{% endif %}" /></label>
<br />
<input name="update" type="submit" value="Update" /> <input type="reset" value="Reset" />
</fieldset>
</form>

<p><a href="/delete_advance?advance_id={{ advance.id }}">Delete this advance</a></p>

</body>
</html>