<!DOCTYPE html>
<html>
<body>
<p><a href="/">Jevons</a> {% for parent in stream.asset.parents %}&gt; <a href="/show_asset?asset_id={{ parent.id }}">{{ parent.name }}</a>{% endfor %} &gt; <a href="/show_asset?asset_id={{ stream.asset.id }}">{{ stream.asset.name }}</a> &gt; <a href="/show_stream?stream_id={{ stream.id }}">{{ stream.name }}</a> &gt; update</p>

<form method="post" action="/update_stream">{% csrf_token %}
<fieldset>
<legend>Update Stream</legend>
<input type="hidden" name="stream_id" value="{{ stream.id }}">
<label>Name <input size="40" name="name" value="{{ stream.name }}" /></label>
<br />
<label>Code <input name="code" value="{{ stream.code }}" /></label>
<br />
<label>Properties <textarea name="properties" >{{ stream.properties }}</textarea></label>
<br />
<input name="update" type="submit" value="Update" /> <input type="reset" value="Reset" />
</fieldset>
</form>

<p><a href="/delete_stream?stream_id={{ stream.id }}">Delete this stream</a></p>

</body>
</html>