[Unit]
Description=Chellow

[Service]
Type=simple
User=chellow
Environment="PGUSER=chellow"
Environment="PGPASSWORD=xxxxxxx"
Environment="PGHOST=localhost"
Environment="CHELLOW_PORT=8080"
ExecStart=/bin/bash -c "source /var/www/chellow/venv/bin/activate;waitress-serve --host=0.0.0.0 --port=$CHELLOW_PORT --call chellow:create_app"

[Install]
WantedBy=multi-user.target
