@import url("/css/main.css");

div[class=membersBlock] {
    float: left;
    border-style: solid;
    border-width: thin;
    padding: 0.5em;
    padding-right: 0.25em;
    width: 65%;
    margin-bottom: 0.5em;
}

div[class=membersBlock] h4 {
    margin-top: 0em;
    margin-bottom: 0.5em;
}
