

/*
Sections

*/

.header {
    margin: 0px 0 0 0px; 
    padding: 0 0 5px 5px;
    border: none;
}



/* Breadcrumbs */

.breadcrumbs {
    text-align: left;
    clear:left;
    font-size: 0.8em;
    font-family: monospace;
    padding-top: 0.33em;
}
.breadcrumbs a {
	text-decoration: none;
	color : #008;
}

.breadcrumbs a:visited {
	color : #008;
}

.breadcrumbs a:hover{
	text-decoration: underline;
	color : red;
}


/* All the content boxes belong to the content class. */
.content {
	position:relative; /* Position is declared "relative" to gain control of stacking order (z-index). */
	width:auto;
	min-width:120px;
	margin:0px 320px 20px 210px;
	border:1px solid black;
	background-color:white;
	padding:10px;
	z-index:3; /* This allows the content to overlap the right menu in narrow windows in good browsers. */
	}
	
	
	
.navBeta {
	position:absolute;
	width:300px;
	
/*	top:520px; */
/*	bottom: 5em; */

	top:55px;  
/*	bottom: 0em; */
	
	right:10px;
	border:1px dotted black;
	background-color:#eee;
	padding:10px;
	z-index:1;
	
	font-size: 0.9em;
	
	min-height: 12em;

	/* Again, the ugly brilliant hack. */
	voice-family: "\"}\"";
	voice-family:inherit;
	width:288px;
	}
/* Again, "be nice to Opera 5". */
body > .navBeta {
  width:288px;
}


.navBeta {
   background: #f6e6b4; /* Old browsers */
background: -moz-linear-gradient(top, #f6e6b4 0%, #d5b058 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6e6b4), color-stop(100%,#d5b058)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #f6e6b4 0%,#d5b058 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #f6e6b4 0%,#d5b058 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #f6e6b4 0%,#d5b058 100%); /* IE10+ */
background: linear-gradient(to bottom, #f6e6b4 0%,#d5b058 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6e6b4', endColorstr='#d5b058',GradientType=0 ); /* IE6-9 */

}




/*

Top-level nav menus
(based on content, not location)

*/


.menu.main-nav { 
	background-color: #F4F4F4; 
	background-color: inherit; 
	border-bottom: 1px dashed #808080; 
	border-right: 1px dashed #808080;
	border: none;
	font: 100% sans-serif; 
	font-weight: bold;
	width: auto; 
	margin: 0;
	padding: 0.5em;

	}

.menu.main-nav a span { 
	display: none; 
	}

.menu.main-nav a:link, 
.menu.main-nav a:visited { 
	display: block; 
	position: relative; 
	text-decoration: none; 
	width: 160px; 
	background-color:  #FFFFF0; 
	}

.menu.main-nav a:hover { 
	color: #2D5C8A; 
	text-indent: 0; 
	background-color: #EFCFCF; 
	background-color: #cFaFaF; 
	}

.menu.main-nav a:hover span { 
	background: url(blt_paleblue_11.gif) #F0FFF0 no-repeat scroll left;
	border: 2px solid #B0C4DE; 
	color: #4B0082;
	display: block; 
	font: 90% cursive; 
	left: 200px; 
	margin: -2px; 
	padding: 0px 1px 0px 25px;
	position: absolute; 
	text-align: left; 
	top: 0px;
	width: 160px; 
	}

.menu.main-nav h2 { 
	color: #BCBCBC; 
	font-size: 110%; 
	letter-spacing: 2px; 
	margin: 0.5em 1em 0em 1em;
	text-align: center; 
	}

.menu.main-nav > li { 
	list-style-type: none; 
	margin-top: 0.5em; 
	margin-left: 0;
	}

	
ul.menu.main-nav { 
	background-color: #F4F4F4; 
	background-color: inherit; 
	border: none;
	color: #000000; 
	font: 100% sans-serif; 
	list-style-type: none; 
	margin: 0;
	padding: 1px 0.33em 0; 
	}
	

.menu.main-nav .current a:link,
.menu.main-nav .current a:visited, 
.menu.main-nav .current a:hover {
	background: url(pijl.gif) #FFDFDF no-repeat right;
	border: 1px solid #333333;
	color: #333333;
	cursor: text; 
	}


.menu.main-nav a { 
	background-color: #F0F8FF; 
	border: 1px solid #333333; 
	color: #2D5C8A; 
	display: block; 
	list-style-type: none; 
	margin: 0;
	padding: 0 3px 0 3px; 
	text-decoration: none; 
	}

.menu.main-nav a:hover {

/*	background: url(blt_ul.gif) #FCFFE1 no-repeat right; */

	background-image: none;
	background-color: #FCFFE1;
	background-color: #cFaFaF; 

	border: 1px solid #333333; 
	color: #333333;
	text-indent: 0; 
	}
 
	

.menu.main-nav li,
.menu.main-nav li a:link,
.menu.main-nav li a:link span {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}




	

/*
Top-level nav manus 
Highlights for Page context 
*/




	

body.section-home .menu.main-nav .main_home, 
body.section-news .menu.main-nav .main_news, 
body.section-services .menu.main-nav .main_services, 
body.section-gallery .menu.main-nav .main_gallery, 
body.section-materials .menu.main-nav .main_materials, 
body.section-atelier .menu.main-nav .main_atelier, 
body.section-events .menu.main-nav .main_events, 
body.section-about .menu.main-nav .main_about, 
body.section-contact .menu.main-nav .main_contact 
{
	background: url(pijl.gif) #FFDFDF no-repeat right;
	border: 1px solid #333333;
	color: #333333;
}



	
/*

Main nav menu
(For top position)

*/
.header .menu.main-nav {
    font-size: 1em;
    color: black;
    float: none;
	margin: 0 0 0 0;
	border: none;
    display: block;
}
.header ul.menu.main-nav {
	list-style: none; 
}

.header ul.menu.main-nav li {
    display: block !important;
    float: left !important;
    margin-right: 0.5em;
    color: red;
    
}
.header ul.menu.main-nav li a:link {
	width: auto; 
    padding: 0 1.7em;
}





/* Clears and breaks */

.clear {
    clear: both;
    float: none;
}
.clear-left {
    clear: left;
}
.clear-right {
    clear: right;
}

hr.clear,
hr.clear-left,
hr.clear-right {
    /* Invisible clear */
    clear: both;
    float: none;
    border: none;
	height: 0;
    visibility: hidden; 
}
hr.clear-left {
    clear: left;
}
hr.clear-right {
    clear: right;
}
hr.fleuron {
    /* With graphic fleurons */    
    /* Local fleuron styling for this page */    
	height: 1em;
    margin-top: 1.2em;
    margin-bottom: 0.6em;
	font-size: 48px;
    width: 208px; 
    background: url('/styles/fleuron.png') no-repeat;
    border: none;
}
.clear.fleuron {
    border: none;
	height: inherit;
	height: 1em;
    visibility: visible; 
}
.christmas hr.fleuron {
	height: 60px;
    width: 265px; 
    background: url('/styles/christmas-fleuron.png') no-repeat;
}

/* Header */

.header p {
    font-size: 0.8em;
}


.content-header {
    margin: 0.5em 50px 0.5em 210px; 
    padding: 0;
    border: none;
    background-color: #ddd;
    max-width: 75em;
}
.content-header p {
    background-color: #eee;
    margin: 0;
    padding: 0.3em 1.5em 0.5em;
    background-color: #cf9c2b;
    color: #2B7ECF;
}


/* Footer */
.footer p {
    font-size: 0.8em;
}






/* Nested menus */

ul.dropdown-nav ul {
	display: none;
}
ul.dropdown-nav li:hover > ul {
	display: block;
}

/*
ul.dropdown-nav {
    padding: 0 20px;
    border-radius: 10px;
    list-style:  none;
    position: relative;
    display: inline-block;
    background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);
    background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%);
    background: -webkit-linear-gradient(top, #efefef 0%, #bbbbbb 100%);
    box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
}
ul.dropdown-nav li {
    float: left;
}
ul.dropdown-nav li a {
    padding: 5px 10px 5px 10px;
    display: block;
    color: #757575;
    text-decoration: none;
}

ul.dropdown-nav li:hover {
    background: #4b545f;
    background: linear-gradient(top, #45f964 0%, #5f6975 100%);
    background: -moz-linear-gradient(top, #45f964 0%, #5f6975 100%);
    background: -webkit-linear-gradient(top, #45f964 0%, #5f6975 100%);
}
ul.dropdown-nav li:hover a {
    color: #fff;
}
*/
ul.dropdown-nav > li:hover > ul { margin: 0px; padding: 0px;}
ul.dropdown-nav > li:hover > ul li {
    float: none; 
    display: block;
}
ul.dropdown-nav > li:hover > ul li a {
    /*color: #666;*/ 
    min-width: 100px;
}
ul.dropdown-nav > li:hover > ul li a:hover {
    /* color: #fff; */
}
ul.dropdown-nav > li {
    position: relative;
}
ul.dropdown-nav > li ul {
    position: absolute; 
    top: 18px; 
    left: 8px;
	z-index:4; 
}


ul.dropdown-nav > li ul ul {
    position: absolute; 
    top: 25px; 
    left: 120px;
	z-index:5; 
}


/* Dashboards */

.dashboard {

}

.nav-beta .dashboard {

}



