@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Mono'), local('UbuntuMono-Regular'), url(/static/fonts/UbuntuMono-Regular.ttf) format('ttf');
}
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 700;
  src: local('Ubuntu Mono Bold'), local('UbuntuMono-Bold'), url(/static/fonts/UbuntuMono-Bold.ttf) format('ttf');
}
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: italic;
  font-weight: 400;
  src: local('Ubuntu Mono Italic'), local('UbuntuMono-Italic'), url(/static/fonts/UbuntuMono-Italic.ttf) format('ttf');
}
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: italic;
  font-weight: 700;
  src: local('Ubuntu Mono Bold Italic'), local('UbuntuMono-BoldItalic'), url(/static/fonts/UbuntuMono-BoldItalic.ttf)) format('ttf');
}

table {
    border: thin solid gray;
    border-collapse: collapse;
}

td {
    border: thin solid gray;
    padding-left: 0.2em;
    padding-right: 0.2em;
}
th {
    border: thin solid gray;
}
#title {
    font-size: xx-large;
}
.logo {
    color: green;
}


body {
    line-height: 1.2;
    font-size: 0.9em;
    font-family: 'Ubuntu Mono';
    background-color: rgb(255, 236, 139);
}
