@import url("/css/main.css");

table {
    padding-left: 0.5em;
    padding-right: 0.5em;
    //width: 50%;
    margin-bottom: 0.5em;
}

th {
    text-align: left;
    font-weight: normal;
    font-style: italic;
}
