@import url("main.css");

.officesBlock {
    margin-bottom: 0.5em;
}

.institutionsBlock {
    clear:left;
}

[class=areasBlock] {
    float: left;
    border-style: solid;
    border-width: thin;
    padding: 0.5em;
    padding-right: 0.25em;
    margin-bottom: 0.5em;
}

.officesAndInstitutionsBlock {
    float: left;
    width: 30%;
    padding-right: 1.2em;
    margin-left: 0.5em;
}
div[class=officesAndInstitutionsBlock] h4, div[class=areasBlock] h4 {
    margin-top: 0em;
    margin-bottom: 0.5em;
}

div[class=officesAndInstitutionsBlock] ul {
    padding: 0em;
    margin-left: 1em;
    margin-top: 0em;
    margin-bottom: 0.5em;
    list-style-type: disc;
}

div[class=officesAndInstitutionsBlock] div {
    width: 100%;
    border-style: solid;
    border-width: thin;
    float: left;
    padding: 0.5em;
    padding-right: 0em;
}

div.cc {
    font-size: x-small;
}

