<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
	<!--

		Copyright (c) 2005, 2010 Wessex Water Services Limited This file is
		part of Chellow. Chellow is free software: you can redistribute it
		and/or modify it under the terms of the GNU General Public License as
		published by the Free Software Foundation, either version 3 of the
		License, or (at your option) any later version. Chellow is distributed
		in the hope that it will be useful, but WITHOUT ANY WARRANTY; without
		even the implied warranty of MERCHANTABILITY or FITNESS FOR A
		PARTICULAR PURPOSE. See the GNU General Public License for more
		details. You should have received a copy of the GNU General Public
		License along with Chellow. If not, see
		<http://www.gnu.org/licenses/>.
	-->

<hibernate-configuration>
	<session-factory>
		<property name="connection.datasource">
			java:comp/env/jdbc/chellow
		</property>
		<property name="dialect">
			org.hibernate.dialect.PostgreSQLDialect
		</property>

		<!-- Disable the second-level cache  -->
		<!--
			<property name="cache.provider_class">
			org.hibernate.cache.NoCacheProvider </property>
		-->
		<property name="hibernate.jdbc.batch_size">20</property>
		
		
		<!-- Mapping files -->
		<mapping resource="hibernate/BillType.hbm.xml" />
		<mapping resource="hibernate/VoltageLevel.hbm.xml" />
		<mapping resource="hibernate/Source.hbm.xml" />
		<mapping resource="hibernate/Site.hbm.xml" />
		<mapping resource="hibernate/SupplyGeneration.hbm.xml" />
		<mapping resource="hibernate/Supply.hbm.xml" />
		<mapping resource="hibernate/Mpan.hbm.xml" />
		<mapping resource="hibernate/MpanCore.hbm.xml" />
		<mapping resource="hibernate/HhDatum.hbm.xml" />
		<mapping resource="hibernate/ChannelSnag.hbm.xml" />
		<mapping resource="hibernate/Snag.hbm.xml" />
		<mapping resource="hibernate/SiteSnag.hbm.xml" />
		<mapping resource="hibernate/Configuration.hbm.xml" />
		<mapping resource="hibernate/Channel.hbm.xml" />
		<mapping resource="hibernate/SiteSupplyGeneration.hbm.xml" />
		<mapping resource="hibernate/Llfc.hbm.xml" />
		<mapping resource="hibernate/Pc.hbm.xml" />
		<mapping resource="hibernate/Mtc.hbm.xml" />
		<mapping resource="hibernate/Party.hbm.xml" />
		<mapping resource="hibernate/User.hbm.xml" />
		<mapping resource="hibernate/Provider.hbm.xml" />
		<mapping resource="hibernate/SupplierContract.hbm.xml" />
		<mapping resource="hibernate/MopContract.hbm.xml" />
		<mapping resource="hibernate/HhdcContract.hbm.xml" />
		<mapping resource="hibernate/NonCoreContract.hbm.xml" />
		<mapping resource="hibernate/Batch.hbm.xml" />
		<mapping resource="hibernate/Bill.hbm.xml" />
		<mapping resource="hibernate/RateScript.hbm.xml" />
		<mapping resource="hibernate/DnoContract.hbm.xml" />
		<mapping resource="hibernate/Dno.hbm.xml" />
		<mapping resource="hibernate/Tpr.hbm.xml" />
		<mapping resource="hibernate/RegisterRead.hbm.xml" />
		<mapping resource="hibernate/Ssc.hbm.xml" />
		<mapping resource="hibernate/Participant.hbm.xml" />
		<mapping resource="hibernate/MarketRole.hbm.xml" />
		<mapping resource="hibernate/MeasurementRequirement.hbm.xml" />
		<mapping resource="hibernate/Contract.hbm.xml" />
		<mapping resource="hibernate/MeterType.hbm.xml" />
		<mapping resource="hibernate/MeterPaymentType.hbm.xml" />
		<mapping resource="hibernate/ClockInterval.hbm.xml" />
		<mapping resource="hibernate/ReadType.hbm.xml" />
		<mapping resource="hibernate/Cop.hbm.xml" />
		<mapping resource="hibernate/Report.hbm.xml" />
		<mapping resource="hibernate/GspGroup.hbm.xml" />
		<mapping resource="hibernate/UserRole.hbm.xml" />
		<mapping resource="hibernate/GeneratorType.hbm.xml" />
	</session-factory>
</hibernate-configuration>