<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<!-- 
	
	Copyright 2005-2008 Meniscus Systems Ltd
	
	This file is part of Chellow.
	
	Chellow is free software; you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation; either version 2 of the License, or
	(at your option) any later version.
	
	Chellow is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.
	
	You should have received a copy of the GNU General Public License
	along with Chellow; if not, write to the Free Software
	Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
	
-->


<hibernate-configuration>
	<session-factory>
		<property name="connection.datasource">
			java:comp/env/jdbc/chellow
		</property>
		<property name="hibernate.connection.isolation">8</property>
		<property name="dialect">
			org.hibernate.dialect.PostgreSQLDialect
		</property>

		<!-- Disable the second-level cache  -->
		<!-- 
			<property name="cache.provider_class">
			org.hibernate.cache.NoCacheProvider
			</property>
		-->
		<property name="hibernate.jdbc.batch_size">20</property>
		<!-- Mapping files -->
		<mapping resource="hibernate/Supplier.hbm.xml" />
		<mapping resource="hibernate/Service.hbm.xml" />
		<mapping resource="hibernate/VoltageLevel.hbm.xml" />
		<mapping resource="hibernate/Source.hbm.xml" />
		<mapping resource="hibernate/Site.hbm.xml" />
		<mapping resource="hibernate/SupplyGeneration.hbm.xml" />
		<mapping resource="hibernate/Supply.hbm.xml" />
		<mapping resource="hibernate/Mpan.hbm.xml" />
		<mapping resource="hibernate/MpanCore.hbm.xml" />
		<mapping resource="hibernate/Dso.hbm.xml" />
		<mapping resource="hibernate/HhDatum.hbm.xml" />
		<mapping resource="hibernate/SnagChannel.hbm.xml" />
		<mapping resource="hibernate/Snag.hbm.xml" />
		<mapping resource="hibernate/SnagSite.hbm.xml" />
		<mapping resource="hibernate/DatabaseVersion.hbm.xml" />
		<mapping resource="hibernate/Channel.hbm.xml" />
		<mapping resource="hibernate/SiteSupplyGeneration.hbm.xml" />
		<mapping resource="hibernate/Llf.hbm.xml" />
		<mapping resource="hibernate/ProfileClass.hbm.xml" />
		<mapping resource="hibernate/MeterTimeswitch.hbm.xml" />
		<mapping resource="hibernate/Organization.hbm.xml" />
		<mapping resource="hibernate/User.hbm.xml" />
		<mapping resource="hibernate/Role.hbm.xml" />
		<mapping resource="hibernate/Permission.hbm.xml" />
		<mapping resource="hibernate/Provider.hbm.xml" />
		<mapping resource="hibernate/SupplierService.hbm.xml" />
		<mapping resource="hibernate/Account.hbm.xml" />
		<mapping resource="hibernate/MopService.hbm.xml" />
		<mapping resource="hibernate/DceService.hbm.xml" />
		<mapping resource="hibernate/Dce.hbm.xml" />
		<mapping resource="hibernate/DcsService.hbm.xml" />
		<mapping resource="hibernate/Dcs.hbm.xml" />
		<mapping resource="hibernate/Government.hbm.xml" />
		<mapping resource="hibernate/Mop.hbm.xml" />
		<mapping resource="hibernate/Batch.hbm.xml" />
		<mapping resource="hibernate/Bill.hbm.xml" />
		<mapping resource="hibernate/Invoice.hbm.xml" />
		<mapping resource="hibernate/AccountSnag.hbm.xml" />
		<mapping resource="hibernate/BillSnag.hbm.xml" />
		<mapping resource="hibernate/RateScript.hbm.xml" />
		<mapping resource="hibernate/DsoService.hbm.xml" />
		<mapping resource="hibernate/GovernmentService.hbm.xml" />
		<mapping resource="hibernate/MpanTop.hbm.xml" />
		<mapping resource="hibernate/Tpr.hbm.xml" />
		<mapping resource="hibernate/TprLine.hbm.xml" />
		<mapping resource="hibernate/Meter.hbm.xml" />
		<mapping resource="hibernate/RegisterRead.hbm.xml" />
		<mapping resource="hibernate/Ssc.hbm.xml" />
		<mapping resource="hibernate/InvoiceMpan.hbm.xml" />
	</session-factory>
</hibernate-configuration>