{% extends "base.html" %}

{% block title %}
	&raquo; Gas Issues
{% endblock %}

{% block inside_head %}
	<style>
		#issues.htmx-swapping {
			opacity: 0;
			transition: opacity 1s ease-out;
		}
	</style>
{% endblock %}

{% block nav %}
	Gas Issues
{% endblock %}

{% block content %}

	<form hx-get="/reports/g_issues" hx-params="*" hx-include="this" hx-trigger="load, change"
			hx-target="#issues" hx-swap="outerHTML swap:1s">
		<fieldset>
			<legend>Filters</legend>	

			<label>Contract</label>
			<select name="contract_id" multiple size="{{supplier_contracts| length + 3}}">
				{% for contract in supplier_contracts %}
					{{input_option('contract_id', contract.id, contract.name)}}
				{% endfor %}
			</select>

			<label>Owner</label>
			<select name="owner_id" multiple size="{{owners|length + 2}}">
				{% for owner in owners %}
					{{input_option('owner_id', owner.id, owner.email_address)}}
				{% endfor %}
			</select>

			<label>Status</label>
			<select name="is_open" multiple size="2">
				<option name="is_open" value="true" selected>Open</option> 
				<option name="is_open" value="false">Closed</option> 
			</select>

		</fieldset>
	</form>

	<div id="issues"></div>

{% endblock %}
