{% extends "base.html" %}

{% block title %}
	&raquo; Gas Supplier Contracts &raquo; {{contract.name}} &raquo; Supplier Contracts &raquo; Issues
{% endblock %}

{% block inside_head %}
	<style>
		#issues.htmx-swapping {
			opacity: 0;
			transition: opacity 1s ease-out;
		}
	</style>
{% endblock %}

{% block nav %}
	<a href="/g/supplier_contracts">Gas Supplier Contracts</a> &raquo;
	<a href="/g/supplier_contracts/{{contract.id}}">{{contract.name}}</a> &raquo;
	Issues &raquo; [<a href="/g/supplier_contracts/{{contract.id}}/add_issue">add</a>]
{% endblock %}

{% block content %}
	<form hx-get="/reports/g_issues" hx-params="*" hx-include="this" hx-trigger="load, change"
			hx-target="#issues" hx-swap="outerHTML swap:1s">
		<fieldset>
			<legend>Filters</legend>	

			<input type="hidden" name="contract_id" value="{{contract.id}}">
		</fieldset>
	</form>

	<div id="issues"></div>

{% endblock %}
