@import url("main.css");

table[class~="reads"], table[class~="account"] {
	border-collapse: collapse;
	font-size: small;
	margin-top: 0.5em;
}

table[class~="reads"] td, table[class~="account"] td {
	border: thin solid;
	text-align: right;
	padding-right: 0.2em;
}

table[class~="reads"] th, table[class~="account"] th {
	border: thin solid;
	padding: 0.2em;
}

caption {
	margin-top: 2em;
}