@import url("main.css");

table {
	font-size: small;
	border-collapse: collapse;
	font-size: small;
	margin-top: 0.5em;
}

table td {
	border: thin solid;
	//text-align: right;
	padding-right: 0.2em;
}

table th {
	border: thin solid;
	padding: 0.2em;
}

table caption {
	margin-top: 2em;
}

