name: Chellow

on:
  push:
    branches: [main, test]
  pull_request:
    branches: [main, test]

jobs:
  # Label of the container job
  test:
    runs-on: ubuntu-latest
    container: python:3.9

    services:
      postgres:
        image: postgres:12
        env:
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - uses: actions/checkout@v3
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install tox
      - name: Run Tox
        run: |
          tox
        env:
          PGHOST: postgres
          PGPORT: 5432

  deploy_main:
    runs-on: ubuntu-latest
    container: python:3.9
    needs: test
    if: github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@v3
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install build
      - name: Build a binary wheel and a source tarball
        run: |
          echo "__version__ = \"$(date +%s).0.0\"" > VERSION
          python -m build 
      - name: Publish distribution to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.pypi_password }}

  deploy_test:
    runs-on: ubuntu-latest
    container: python:3.9
    needs: test
    if: github.ref == 'refs/heads/test'
    steps:
      - uses: actions/checkout@v3
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install build
      - name: Build a binary wheel and a source tarball
        run: |
          echo "__version__ = \"$(date +%s).0.0\"" > VERSION
          python -m build 
      - name: Publish distribution to Test PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.test_pypi_password }}
          repository_url: https://test.pypi.org/legacy/
